<% title "Đặt Hàng" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Đặt Hàng", "javascript:void(0)" %></li>
    </ul>
    
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <h2 class="title">ĐẶT HÀNG</h2>
            <div class="so-onepagecheckout ">
                <div class="col-left col-sm-8">
                    <%= render "erp/online_store/frontend/modules/shopping_cart/address_info" %>
                </div>
                    
                <div class="col-right col-sm-4">
                    <%= render "erp/online_store/frontend/modules/shopping_cart/order_items_info" %>
                </div>
            </div>
        </div>
        <!--Middle Part End -->
    </div>
</div>