<div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 style="color:#25ae88">ĐẶT HÀNG THÀNH CÔNG</h2>
        <img src="/frontend/image/success.png">
        <h3>Cảm ơn Quý khách hàng đã cho chúng tôi cơ hội được phục vụ.<br> Nhân viên Tìm Hàng Công Nghệ sẽ liên hệ cho Quý khách hàng để xác nhận.</h3>
        <h4 style="line-height: 20px">
            Mọi thắc mắc vui lòng liên hệ bộ phận CSKH của chúng tôi theo số điện thoại '<a href="tel:02839847690" title="Liên hệ bộ phận CSKH TimHangCongNghe">(+84 028) 3984 7690</a>' hoặc gửi email về địa chỉ <a href="mailto:kinhdoanh@timhangcongnghe.com" title="Gửi email bộ phận CSKH TimHangCongNghe">kinhdoanh@timhangcongnghe.com</a> để nhận được phản hồi nhanh nhất.
        </h4>
        <br>
        <%= link_to 'Quay Về Trang Chủ', '//timhangcongnghe.com/', class: 'btn btn-default btn-complete', title: 'Quay Về Trang Chủ' %>
        <br><br>
    </div>
</div>