<div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 style="color:#25ae88">ĐẶT HÀNG THÀNH CÔNG</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
            <g fill="none" stroke="#8EC343" stroke-width="2">
                <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
            </g>
        </svg>
        <h3>Đơn Hàng Của Quý Khách Đã Được Gửi Thành Công</h3>
        <h4 style="line-height: 20px">Một email xác nhận đã được gửi vào hộp thư của quý khách.<br>Mọi thắc mắc vui lòng liên hệ bộ phận CSKH của chúng tôi theo số điện thoại '<a href="tel:02839847690" title="Liên hệ bộ phận CSKH TimHangCongNghe">(+84 028) 3984 7690</a>' hoặc gửi email về địa chỉ <a href="mailto:kinhdoanh@timhangcongnghe.com" title="Gửi email bộ phận CSKH TimHangCongNghe">kinhdoanh@timhangcongnghe.com</a> để nhận được phản hồi nhanh nhất.
        </h4>
        <br>
        <%= link_to 'Quay Về Trang Chủ', erp_online_store.root_path, class: 'btn btn-default btn-complete', title: 'Quay Về Trang Chủ' %>
        <br><br>
    </div>
</div>