<section class="social-widgets visible-lg">
    <ul class="items">
        <li class="item item-01 facebook"> <%= link_to '<span class="fa fa-facebook"></span>'.html_safe, "", class: "tab-icon", target: "_blank", title: "Facebook: Tìm hàng công nghệ" %>
            <div class="tab-content">
                <div class="title">
                    <h5>FACEBOOK</h5>
                </div>
            </div>
        </li>
        <li class="item item-02 twitter"> <%= link_to '<span class="fa fa-twitter"></span>'.html_safe, "", class: "tab-icon", target: "_blank", title: "Twitter: Tìm hàng công nghệ" %>
            <div class="tab-content">
                <div class="title">
                    <h5>TWITTER FEEDS</h5>
                </div>
            </div>
        </li>
        <li class="item item-03 youtube"> <%= link_to '<span class="fa fa-youtube"></span>'.html_safe, "", class: "tab-icon", target: "_blank", title: "Youtube: Tìm hàng công nghệ" %>
            <div class="tab-content">
                <div class="title">
                    <h5>YouTube</h5>
                </div>
            </div>
        </li>
    </ul>
</section>