<div class="so-spotlight3">
    <div class="container">
        <ul class="mudule list-services row">
            <% @service_banners.each do |banner| %>
            <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span><%= image_tag(banner.image_url.thumb, alt: banner.name) %></span>
            </li>
            <% end %>
        </ul>
    </div>
</div>