<% @newest_blogs.each do |blog| %>
<div class="media">
    <div class="item">
        <div class="media-body">
            <div class="media-date-added image">
                <%= image_tag(article_image(blog.image.small, 'small'), alt: blog.name) %>
            </div>
            <div class="media-content">
                <h4 class="media-heading media-title">
                    <%= link_to truncate(blog.name, length: 80), erp_online_store.blog_detail_path(blog.id, url_friendly(blog.name)), title: blog.name %>
                </h4>
                <div class="description">
                    <%= short_text(blog.content.html_safe, 20) %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>