<div class="module blog-category titleLine">
    <h3 class="modtitle"><span>Chủ đề</span></h3>
    <div class="modcontent">
        <ul class="list-group ">
            <% @categories.each do |cat| %>
                <li class="list-group-item">
                    <%= link_to cat.name, erp_online_store.blog_with_category_path(cat.id, url_friendly(cat.name)),
                    class: "group-item#{' active' if cat.id == params[:cat_id].to_i}" %>
                </li>
            <% end %>
        </ul>
    </div>
</div>