<li class="nav-item <%= "active open" if ["erp/orders/backend/frontend_orders"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-shopping-cart"></i>
        <span class="title">Đơn đặt hàng</span>
        <% if ["erp/orders/backend/frontend_orders"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/products/backend/frontend_orders"].include?(params[:controller]) %>">
            <a href="<%= erp_orders.backend_frontend_orders_path %>" class="nav-link ">
                <span class="title">Bình luận sản phẩm</span>
                <% if ["erp/orders/backend/frontend_orders"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link ">
                <span class="title">Đặt hàng nhanh</span>
            </a>
        </li> 
    </ul>
</li>