<li class="nav-item <%= "active open" if ["erp/backend/users"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-cogs"></i>
        <span class="title">Hệ thống</span>
        <% if ["erp/backend/users"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/backend/users"].include?(params[:controller]) %>">
            <a href="<%= erp.backend_users_path %>" class="nav-link ">
                <span class="title">Danh sách tài khoản</span>
                <% if ["erp/backend/users"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
    </ul>
</li>