footer .social_block ul.social-block li.facebook a:hover {
  color: #4267b2;
}
footer .social_block ul.social-block li.youtube a:hover {
  color: #cc181e;
}
footer .social_block ul.social-block li.google_plus a:hover {
  color: #db4437;
}
footer .social_block ul.social-block li.instagram a:hover {
  color: #bc2a8d;
}
footer .social_block ul.social-block li.pinterest a:hover {
  color: #b7071b;
}
.autosearch {
  position: relative;
}
.autosearch-result-box {
    position: absolute;
    top: 30px;
    left: -1px;
    right: -1px;
    z-index: 10;
}
.autosearch-result-box ul {
  background: #fff;
  margin: 0;
  border: solid 1px #ccc;
}
.autosearch-result-box ul li a {
    padding: 5px 10px;
    display: block;
    border-bottom: solid 1px #ccc;
    padding-top: 8px;
}
.autosearch-result-box ul li a {
    padding: 5px 10px;
    display: block;
    border-bottom: solid 1px #ddd;
    padding-top: 8px;
}
.autosearch-result-box ul li:last-child a {
    border-bottom: solid 0px #ddd;
}
.autosearch-result-box ul li a .title {
    font-size: 15px;
}
.autosearch-result-box ul li a .price {
    font-size: 14px;
}
.autosearch-result-box ul li a img {
  width: 40px;
  float: left;
  margin-right: 10px;
}
.autosearch-result-box ul li.current a {
  background: #f5f5f5;
}
.autosearch-result-box ul li:hover a {
  background: #f5f5f5;
}
.blog-listitem-notitle .blog-item:first-child {
  padding-top: 0;
}
.pagination-online-store .row > div {
  width: 100%;
}
.simple_vertical_list input[type="radio"] + label::after, .simple_vertical_list input[type="checkbox"] + label::after, .checkboxes_list input[type="radio"] + label::after, .checkboxes_list input[type="checkbox"] + label::after {
  top: 0px;
  width: 18px;
  height: 18px;
  background: #ea3a3d;
}
.simple_vertical_list input[type="checkbox"] + label::before, .checkboxes_list input[type="checkbox"] + label::before {
  font-size: 13px;
  margin: 0 1px;
}
.type_1 .header-center {
  padding: 25px 0 10px;
}
.logo img {
  max-width: none;
}
.map-contact {
  margin-top: 40px;
}
.jGrowl-notification.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.jGrowl-notification.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.jGrowl-notification.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.jGrowl-notification.notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.jGrowl-notification.success .jGrowl-header {
  color: #0b9444;
}
.jGrowl-notification.warning .jGrowl-header {
  color: #ffa500;
}
.jGrowl-notification.error .jGrowl-header {
  color: #d9534f  ;
}
.jGrowl-notification.notice .jGrowl-header {
  color: #5bc0de;
}.category_box.loading {
  position: relative;
  height: 668px;
}
.category_box.loading:after {
  content: "dddd";
  width: 100%;
  height: 558px;
  margin-bottom: 20px;
  display: block;
  background: url(../image/loading.gif) no-repeat center center rgba(255,255,255,0.7);
  position: absolute;
  top: 70px;
  z-index: 10;
  text-indent: -20000px;
  border: solid 1px #ddd;
}
.common-home .header-bottom {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .col-slideshow {
    margin-left: 270px;
    width: 930px;
  }
}
.slider-container {
  max-height: 449px;
  overflow: hidden;
  margin-top: 1px;
  margin-left: 1px;
}
.top-10 {
  top: 10px !important;
}
.media-date-added.image {
  padding-top: 0px !important;
}
.media-heading.media-title a {
    text-transform: none !important;
}
.type_1 .header-bottom .container .header-bottom-inner .header_search {
  width: 67%;
}
.type_1 .header-bottom .container .header-bottom-inner .header_custom_link {
  padding-right: 0px;
}
/* comment list */
#review-title {
    margin-top: 0;
}
.commentlist .author {
  width: 50px;
  float: left;
  height: 50px;
  margin-right: 10px;
  vertical-align: top;
}
.commentlist .media-body .media .author-name a {
  font-size: 15px;
  color: #666;
  text-transform: capitalize;
}
.commentlist .media-body .media p {
  white-space: normal;
}
.commentlist .comment {
  padding-left: 0px;
  margin-bottom: 10px;
}
.commentlist ul.children {
  margin-left: 62px;
}
.children .author {
  width: 35px;
  height: 35px;
}
.media-content.row-fluid .right {
  margin-right: 15px;
}
.media-content.row-fluid a {
  color: rgb(0, 106, 148);
}
/*span.label {
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
  font-size: 9px;
  background: #c5c5c5;
  padding: 2px 6px;
  border-radius: 3px;
  line-height: 18px;
  height: 18px;
  margin-left: 10px;
}*/
.pagination-comments div.row div.col-md-5.col-sm-5 div {
    display: none;
}
/* end comment list */
.reply-box {
  padding: 10px;
  border: solid 1px #aaa;
  background: #eee;
  margin-top: 15px;
}
.post_tags li {
  font-size: 11px;
  list-style: none;
  display: inline-block;
  color: #979797;
  font-weight: normal;
}
.post_tags li a {
  color: #999;
  font-weight: normal;
}
.post_tags li a:hover {
  color: #009688;
}#so-slideshow .owl2-controls .owl2-nav div {
  top: 45%;
}
body {
  font-size: 14px;
}
div.horizontal ul.megamenu .sub-menu a {
  color: #333;
}
.container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {
  font-size: 13px;
  font-weight: 500;
}
footer {
  font-size: 14px;
}
footer .news-letter .pre-text {
  line-height: 15px;
}
footer .news-letter .title-block {
  padding-top: 0;
}
.breadcrumb {
  font-size: 13px;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
  font-size: 14px;
}
label {
  font-size: 14px;
}
.simple_vertical_list input[type="radio"] + label::before, .simple_vertical_list input[type="checkbox"] + label::before, .checkboxes_list input[type="radio"] + label::before, .checkboxes_list input[type="checkbox"] + label::before {
  top: -2px;
}
footer .footer-center .footer-links p {
  line-height: 22px;
}
footer .news-letter .block_content .input-box input {
  font-size: 14px;
}
div.article-info .article-sub-title span {
  font-size: 13px;
}
.type_1 .header-top-right ul > li > a {
  font-size: 13px !important;
}
.type_1 .header-top-right ul.dropdown-menu > li > a {
  font-size: 14px !important;
  padding: 6px 15px;
}
.type_1 .header-top-right ul.top-link > li a.btn {
  font-size: 13px;
}
input.error, textarea.error  {
  border-color: #DA2723 !important;
}
.container-megamenu.vertical .vertical-wrapper ul li > a strong {
  font-weight: 500;
}
@media (min-width: 990px) {
.header-center-right .megamenu {
  float: right;
}
}
.vertical-wrapper ul.megamenu {
  padding: 5px 0 5px 0;
  background: #222;
}
.container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {
  padding: 8px 15px 8px 12px;
}
.ratingStar span.lStar:first-child {
  display: inline-block;
  margin-top: 8px;
  float: left;
  margin-left: 0;
  margin-right: 5px;
  font-size: 15px;
}
.ratingStar span.lStar {
  cursor: pointer;
  margin-left: 5px;
  display: block;
  float: left;
}
.ratingComment {
  clear: both;
}
/*.ratingComment textarea {
  height: 83px;
}*/
.ratingComment .btn.buttonGray {
  width: 100%;
}

.content-data-summary {
  padding: 10px;
}
.content-header .content-rating {
  float: left;
}
h3.author {
  float: left;
  margin: 4px 0;
  font-size: 14px;
}
.content-title {
  clear: both;
}
.content-data-summary:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.date-time {
  margin-top: 1px;
  float: left;
}
#review .content-title p {
  margin-bottom: 0;
}
.content-header .right {
  margin-right: 10px;
}
.starability-grow {
  min-height: 45px !important;
}
.login-box {
  min-width: 300px;
}
.width-100 {
  width: 100% !important;
}
.login-box h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.login-form label.error, #new_user label.error {
  display: none !important;
}
.text-danger {
  background: none;
  color: #a94442;
}
label {
  outline: 0 !important;
}
form label.error {
  font-weight: normal;
  color: #DA2723;
}
.cart button.add-to-cart {
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  font-weight: normal;
  font-size: 13px;
  border-radius: 0;
  background: #009688 no-repeat;
  background-position: 8px center;
  text-transform: uppercase;
}
.cart button.add-to-cart:hover {
  background-color: #ea3a3c;
}
.compare button.add-to-compare {
  margin-left: 3px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  font-weight: normal;
  font-size: 13px;
  border-radius: 0;
  background: #5f87d1 no-repeat;
  background-position: 8px center;
  text-transform: uppercase;
}
.compare button.add-to-compare:hover {
  background-color: #F4A137;
}
.products-list.list-masonry .product-layout .product-item-container .right-block .caption h4 a, .products-list.grid .product-layout .product-item-container .right-block .caption h4 a {
  font-weight: 500 !important;
}
a.hover-product-name:hover {
  color: #009688 !important;
}
.filters-panel .form-control {
  height: 34px;
  font-weight: 500;
}
.box-pagination .pagination > li span, .box-pagination .pagination > li a {
  width: 34px;
  height: 34px;
  line-height: 34px;
}
.filters-panel .box-pagination ul {
  height: 33px;
}
.type_1 .header-top-right ul.top-link > li.compare a:before {
  content: "\f0ec";
}
.text-teal {
  color: #009688;
}
.ratingStar.error {
  color: #DA2723;
}
.products-list.list-masonry .product-layout .product-item-container .quickview, .products-list.grid .product-layout .product-item-container .quickview {
    text-indent: 0;
    background: rgba(0,0,0,0.3);
    height: auto;
    color: #fff;
    width: auto;
    padding: 3px 5px;
    top: 155px;
    right: -5px;
}
.back-to-top {
  background-color: #009688;
  padding: 7px 0;
}
.back-to-top i {
  line-height: 22px;
  margin-bottom: 2px;
}
.back-to-top:hover {
  opacity: .8;
}
.product-item-container .left-block {
  cursor: pointer;
}/* custom category - product lists*/
.products-list.list-masonry .product-layout .product-item-container .right-block .caption h4 a, .products-list.grid .product-layout .product-item-container .right-block .caption h4 a {
  font-size: 14px;
}
.products-list {
  padding-left: 0px;  
}
.products-list .product-layout {
  padding-left: 0px;
  padding-right: 0px;
}
.products-list.list-masonry .product-layout .product-item-container, .products-list.grid .product-layout .product-item-container {
  border: 0px;
  margin: 0px;
}
.filters-panel {
  border: 0px;
}
/* end custom category - product lists*/
ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
  width: 250px;
}
.label-percent {
  background: #ff9601;
  font-weight: 500;
}
.label-sale {
  background: #ff0000;
  font-weight: 500;
}
.label-bestseller {
  font-weight: 500;
}
.label-new {
  font-weight: 500;
}
.label-sale:after {
  border-top: 9px solid #ff0000;
}
.price .price-old {
  color: #000;
  font-weight: 500;
  padding: 5px 0 0 0;
}
.price .price-new, .price span.price {
  font-size: 14px;
  color: #c10017;
}
.products-list.list-masonry .product-layout .product-item-container .right-block, .products-list.grid .product-layout .product-item-container .right-block {
  margin-top: 5px;
}
.product-description {
  border-top: #ddd 1px dotted;
  font-size: 13px;
  line-height: 1em;
}
.price {
  line-height: 13px;
}
.module.cus-style-supper-cate .main-left {
  width: 20%;
}
.module.cus-style-supper-cate .main-right {
  width: 80%;
}
.module.cus-style-supper-cate .main-right .spcat-items-container.show-pre .ltabs-items-inner .ltabs-item:nth-child(1) .product-item-container {
  min-height: 270px;
  border-width: 1px;
}
.module.cus-style-supper-cate .main-right .spcat-items-container.products-list.grid .product-layout .product-item-container {
  border-width: 1px;
}
/* Custom checkbox list */
.checkboxes_list {
  color: #ea3a3d;
}
.left-content-product .content-product-right .product_page_price .price-new {
  font-size: 20px;
}
.view-all-bestseller {
  margin-left: 22px;
}
.view-all-hotdeals {
  float: right;
  margin-right: 10px;
  margin-top: 9px;
  background: #da0d0d;
  padding: 4px;
  color: #fff;
  border-radius: 2px;
}
a.view-all-hotdeals:hover {
  color: #fff;
}
.list-services, .list-brands {
  margin-top: 30px;
}
.list-services li a {
  border: 3px solid #ddd;
  display: block;
  -webkit-transition: 0.3s;
}
.list-services li a:hover {
    border-color: #ea3a3c;
}
.category-banner {
  margin-top: 30px;
}
.shopping_cart:hover .content {
  display: block;
}
.add-cart-form.loading, .add-compare-form.loading, .add-wishlist-form.loading {
  opacity: 0.4;
}
.compare-cart-add-button {
  margin-bottom: 5px;
}
.display-inline {
  display: inline;
}
span.full-right {
  float: right;
}.label-bestseller {
  min-width: 45px;
  height: 20px;
  padding: 0 10px;
  border-radius: 0;
  line-height: 20px;
  z-index: 8;
  font-size: 11px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  display: block;
  position: absolute;
  text-transform: uppercase;
}
.products-list.list-masonry .product-layout .product-item-container .label-bestseller, .products-list.grid .product-layout .product-item-container .label-bestseller {
  top: 8px;
  right: 8px;
}
.products-list.list .product-layout .product-item-container .label-bestseller {
  top: 10px;
  right: 10px;
  left: auto;
}
.label-bestseller {
  background: #F4A137;
  top: 0;
  right: 0;
}
.label-bestseller:after {
  content: "";
  border-top: 9px solid #F4A137;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: -6px;
  left: 0;
}
.social-widgets .instagram .tab-icon {
  background: #bc2a8d;
  background-clip: content-box;
  color: white;
}
.social-widgets .pinterest .tab-icon {
  background: #b7071b;
  background-clip: content-box;
  color: white;
}
.page-business-choices .so-spotlight3 {
  margin-top: 0px;
  margin-bottom: 30px
}
.best-seller .so-extraslider .extraslider-inner .item .item-wrap.style1 .media-body .item-info .item-content .content_price span {
  font-size: 14px;
  color: #c10017;
}
.best-seller .so-extraslider .extraslider-inner .item .item-wrap.style1 .media-body .item-info .item-content .content_price span.price-old-price {
  color: #000;
  font-weight: 500;
  font-size: 12px;
  text-decoration: line-through;
}
.best-seller .so-extraslider .extraslider-inner .item .item-wrap.style1 .media-body .item-info .item-content .content_price span.product-percent {
  background: #ff9601;
  font-weight: 500;
  padding: 2px 5px;
  font-size: 13px;
  display: inline;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.social-widgets .item-04 {
  top: 135px;
  z-index: 96;
}
.left-content-product .content-product-right .box-info-product .quantity .quantity-control span.product_quantity_down {
  background: none repeat scroll 0 0 #ea3a3c;
  font-weight: 500;
}
.left-content-product .content-product-right .box-info-product .quantity .quantity-control span.product_quantity_up {
  background: none repeat scroll 0 0 #ea3a3c;
  font-weight: 500;
}
.left-content-product .content-product-right .box-info-product .quantity .quantity-control input.form-control {
  font-weight: 500;
}
.list-item li a {
  color: #000;
  font-weight: 500;
}
table.product-compare, .custom-profile {
  color: #000;
}
table.product-compare td {
  font-weight: 500;
}
table.product-compare tr td.product-name {
  text-align: center;
  font-size: 16px;
}
.breadcrumb {
  font-size: 14px;
  font-weight: 500;
}
.title-compare {
  color: #000;
  font-weight: 700;
}
.breadcrumb {
  margin-bottom: 20px;
}
.compare-add-cart {
  margin-bottom: 2px;
}
.not-property {
  font-size: 12px;
  color: #666;
  font-style: italic;  
}
.account-reportm {
  font-weight: 500;
  color: #000;
}
.order-list, .custom-profile .button-info {
  font-weight: 500;
}
.order-status span.pending {
  color: #F4A137;
}
.order-status span.confirm {
  color: #20bc5a;
}
.order-status span.finish {
  color: #009688;
}
.info-contact .comment {
  text-align: justify;
}
.best-seller .so-extraslider .extraslider-inner .item .item-wrap.style1 .media-body .item-info .item-title a {
  font-weight: 500;
}
.footer-center .content, footer .footer-center .contact-address li, footer a {
  color: #000;
}
.top-choices {
  margin: 30px 0 !important;
}
.box_banner {
  padding-left: 0;
}
.common-home .banner-business-choices {
  margin-bottom: 0;
}
.box_banner .banner-business-choices ul li {
  margin-bottom: 13px;
}
.default-margin {
  margin-bottom: 10px !important;
}
.shopping-cart, a, .btn-link {
  color: #000;
}
.total-price, .shopping-order {
  font-weight: 500;
}
.shopping-cart a.shopping-continue {
  color: #000;
  font-weight: 500;
}
/* Custom shopping cart box */
.shopping_cart .shoppingcart-box {
  min-width: 380px;
  color: #000;
}
.shopping_cart .shoppingcart-box .table-striped a {
  color: #000;
  font-weight: 500;
}
.type_1 .shopping_cart .btn-shopping-cart {
  text-transform: none;
}
.shoppingcart-box {
  border: 1px solid #009688;
}
.shopping-actions {
  font-weight: 500;
}
.label-new, .label-sale {
  z-index: 4;
}