footer .social_block ul.social-block li.facebook a:hover {
  color: #4267b2;
}
footer .social_block ul.social-block li.youtube a:hover {
  color: #cc181e;
}
footer .social_block ul.social-block li.google_plus a:hover {
  color: #db4437;
}
footer .social_block ul.social-block li.instagram a:hover {
  color: #bc2a8d;
}
footer .social_block ul.social-block li.pinterest a:hover {
  color: #b7071b;
}