footer .social_block ul.social-block li.facebook a:hover {
  color: #4267b2;
}
footer .social_block ul.social-block li.youtube a:hover {
  color: #cc181e;
}
footer .social_block ul.social-block li.google_plus a:hover {
  color: #db4437;
}
footer .social_block ul.social-block li.instagram a:hover {
  color: #bc2a8d;
}
footer .social_block ul.social-block li.pinterest a:hover {
  color: #b7071b;
}
.autosearch {
  position: relative;
}
.autosearch-result-box {
    position: absolute;
    top: 30px;
    left: -1px;
    right: -1px;
    z-index: 10;
}
.autosearch-result-box ul {
  background: #fff;
  margin: 0;
  border: solid 1px #ccc;
}
.autosearch-result-box ul li a {
    padding: 5px 10px;
    display: block;
    border-bottom: solid 1px #ccc;
    padding-top: 8px;
}
.autosearch-result-box ul li a {
    padding: 5px 10px;
    display: block;
    border-bottom: solid 1px #ddd;
    padding-top: 8px;
}
.autosearch-result-box ul li:last-child a {
    border-bottom: solid 0px #ddd;
}
.autosearch-result-box ul li a .title {
    font-size: 15px;
}
.autosearch-result-box ul li a .price {
    font-size: 14px;
}
.autosearch-result-box ul li a img {
  width: 40px;
  float: left;
  margin-right: 10px;
}
.autosearch-result-box ul li.current a {
  background: #f5f5f5;
}
.autosearch-result-box ul li:hover a {
  background: #f5f5f5;
}
.blog-listitem-notitle .blog-item:first-child {
  padding-top: 0;
}
.pagination-online-store .row > div {
  width: 100%;
}
.simple_vertical_list input[type="radio"] + label::after, .simple_vertical_list input[type="checkbox"] + label::after, .checkboxes_list input[type="radio"] + label::after, .checkboxes_list input[type="checkbox"] + label::after {
  top: 0px;
  width: 17px;
  height: 17px;
}
.simple_vertical_list input[type="checkbox"] + label::before, .checkboxes_list input[type="checkbox"] + label::before {
  font-size: 13px;
  margin: 0 1px;
}
.type_1 .header-center {
  padding: 25px 0 10px;
}
.logo img {
  max-width: none;
}
.map-contact {
  margin-top: 40px;
}
.jGrowl-notification.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.jGrowl-notification.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.jGrowl-notification.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.jGrowl-notification.notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.jGrowl-notification.success .jGrowl-header {
  color: #0b9444;
}
.jGrowl-notification.warning .jGrowl-header {
  color: #ffa500;
}
.jGrowl-notification.error .jGrowl-header {
  color: #d9534f  ;
}
.jGrowl-notification.notice .jGrowl-header {
  color: #5bc0de;
}.category_box.loading {
  position: relative;
  height: 668px;
}
.category_box.loading:after {
  content: "dddd";
  width: 100%;
  height: 558px;
  margin-bottom: 20px;
  display: block;
  background: url(../image/loading.gif) no-repeat center center rgba(255,255,255,0.7);
  position: absolute;
  top: 70px;
  z-index: 10;
  text-indent: -20000px;
  border: solid 1px #ddd;
}
.common-home .header-bottom {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .col-slideshow {
    margin-left: 270px;
    width: 930px;
  }
}
.slider-container {
  max-height: 408px;
}
.top-10 {
  top: 10px !important;
}
.media-date-added.image {
  padding-top: 0px !important;
}
.media-heading.media-title a {
    text-transform: none !important;
}
.type_1 .header-bottom .container .header-bottom-inner .header_search {
  width: 67%;
}
.type_1 .header-bottom .container .header-bottom-inner .header_custom_link {
  padding-right: 0px;
}
/* comment list */
.commentlist .author {
  width: 50px;
  float: left;
  height: 50px;
  margin-right: 10px;
  vertical-align: top;
}
.commentlist .media-body .media .author-name a {
  font-size: 15px;
  color: #666;
  text-transform: capitalize;
}
.commentlist .media-body .media p {
  white-space: normal;
}
.commentlist .comment {
  padding-left: 0px;
  margin-bottom: 10px;
}
.commentlist ul.children {
  margin-left: 62px;
}
.children .author {
  width: 35px;
  height: 35px;
}
.media-content.row-fluid .right {
  margin-right: 15px;
}
.media-content.row-fluid a {
  color: rgb(0, 106, 148);
}
span.label {
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
  font-size: 9px;
  background: #c5c5c5;
  padding: 2px 6px;
  border-radius: 3px;
  line-height: 18px;
  height: 18px;
  margin-left: 10px;
}
.pagination-comments div.row div.col-md-5.col-sm-5 div {
    display: none;
}
/* end comment list */
