.main-container .wrap .payment-top {
  width: 100%;
  margin: 5px 0 15px;
  text-align: center;
}
.main-container .wrap .payment-top .form-group {
  overflow: hidden;
}
.main-container .wrap .payment-top .btn-social, .main-container .wrap .payment-top .btn-social-icon {
  width: 203px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding-left: 35px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.42857;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0;
  touch-action: manipulation;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.main-container .wrap .payment-top .btn-social-icon>:first-child, .main-container .wrap .payment-top .btn-social>:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,.2);
  height: 39px;
  padding-top: 3px;
}
.main-container .wrap .payment-top .btn-facebook {
  background-color: #3b5998;
  border-color: rgba(0,0,0,.2);
}
.main-container .wrap .payment-top .btn-facebook.active, .main-container .wrap .payment-top .btn-facebook.focus, .main-container .wrap .payment-top .btn-facebook:active, .main-container .wrap .payment-top .btn-facebook:focus, .main-container .wrap .payment-top .btn-facebook:hover {
  background-color: #2d4373;
  border-color: rgba(0,0,0,.2);
}
.main-container .wrap .payment-top .btn-account {
  background-color: #009688;
  border-color: rgba(0,0,0,.2);
}
.main-container .wrap .payment-top .btn-account.active, .main-container .wrap .payment-top .btn-account.focus, .main-container .wrap .payment-top .btn-account:active, .main-container .wrap .payment-top .btn-account:focus, .main-container .wrap .payment-top .btn-account:hover {
  background-color: #00786a;
  border-color: rgba(0,0,0,.2);
}
.main-container .wrap .payment-top .btn-google {
  background: #df4a32;
  color: #fff;
  border: 1px solid #c63923;
}
.main-container .wrap .payment-top .btn-google:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: .9;
}
.main-container .wrap .payment-top .or {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  text-align: center;
  color: #797979;
}
.main-container .wrap .box-login-register-arround {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f1f1f1;
  overflow: hidden;
  min-height: 120px;
  position: relative;
  margin-bottom: 15px;
}
.main-container .wrap .nav-register {
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  z-index: 4;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  border: none;
}
.main-container .wrap .nav-register li.active, .main-container .wrap .nav-register li:hover {
  background: #fff;
}
.main-container .wrap .nav-register li {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  position: relative;
  width: 100%;
  float: none;
}
.main-container .wrap .nav-register li:first-child.active:before, .main-container .wrap .nav-register li:first-child:hover:before {
  border-top-left-radius: 2px;
}
.main-container .wrap .nav-register li.active:before, .main-container .wrap .nav-register li:hover:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  border: 2px solid #00b6f0;
}
.main-container .wrap .nav-register li a:link {
  text-decoration: none;
}
.main-container .wrap .nav-register li.active a, .main-container .wrap .nav-register li:hover a {
  border-bottom: none;
}
.main-container .wrap .nav-register li:first-child a {
  border-right: none;
}
.main-container .wrap .nav-register li a {
  text-align: center;
  position: relative;
  padding: 10px 10px 10px 20px;
  display: inline-block;
  color: #4a4a4a;
  width: 100%;
  text-align: center;
  color: #4a4a4a;
}
.main-container .wrap .nav-register li a span {
  display: block;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
}
.main-container .wrap .nav-register li a i {
  color: #818181;
  font-size: 11px;
  font-style: normal;
}
.main-container .wrap .register-content {
  width: 548px;
  float: right;
  border-left: 1px solid #ccc;
  background: #fff;
  padding: 15px 25px;
}
.main-container .wrap .register-content .form-control {
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  line-height: 1.42857;
  color: #555;
  display: block;
}
.main-container .wrap .register-content .form-group .mt-radio-inline .mt-radio {
  display: inline-block;
  margin-right: 25px;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 15px;
  transition: all .3s;
}
.main-container .wrap .register-content .form-group.has-error .form-control-feedback {
  top: 27px;
  line-height: 30px;
}
.main-container .wrap .register-content .btn-info {
  background: #00b6f0;  
  display: block;
  width: 100%;color: #fff;
  border-color: #46b8da;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
}
.main-container .wrap .register-content .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.main-container .wrap .cart {
  font-size: 12px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.main-container .wrap .panel-default {
  border-color: #ddd;
}
.main-container .wrap .panel {
  background-color: #fff;
  border: 1px solid #ccc;
}
.main-container .wrap .cart .order {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 10px;
}
.main-container .wrap .cart .order:after, .main-container .wrap .cart .order:before {
  display: table;
  content: "";
  clear: both;
}
.main-container .wrap .cart .order .title {
  font-size: 13px;
  line-height: 31px;
}
.main-container .wrap .cart .order .btn-back-cart {
  float: right;
}
.main-container .wrap .btn-back-cart {
  border: 1px solid #ccc;
  font-size: 12px;
  padding-left: 14px;
  padding-right: 14px;
  height: 31px;
  outline-color: #ccc;
  border-radius: 4px;
}
.main-container .wrap .cart .product {
  margin-bottom: 15px;
}
.main-container .wrap .cart .product .item {
  padding-top: 12px;
  font-size: 12px;
}
.main-container .wrap .cart .product .item .title strong {
  padding-right: 5px;
}
.main-container .wrap .cart .product .item .title a {
  color: #007ff0;
}
.main-container .wrap .cart .product .item p {
  margin: 0;
}
.main-container .wrap .cart .product .item p.price span {
  font-size: 12px;
}
.main-container .wrap .cart .total2 {
  padding-top: 12px;
  border-top: 2px solid #c9c9c9;
  margin-bottom: 0;
  line-height: 19px;
  font-weight: 700;  
}
.main-container .wrap .cart .total2 span {
  color: #ee2347;
  font-size: 19px;
  font-weight: 600;
  float: right;
}
.main-container .wrap .nav-register li a.delivery-policy {
  text-align: left !important;
  color: #000;
  cursor: help;
}
.main-container .wrap .nav-register li a.delivery-policy span {
  font-weight: 600;
}
.main-container .wrap .nav-register li a.delivery-policy {
  text-align: left !important;
  color: #000;
  cursor: help;
}
.main-container .wrap .nav-register li i a.view-delivery-policy {
  padding: 0 0 5px 0;;
}
.main-container .wrap .bs-wizard>.bs-wizard-step {
  padding: 0;
  position: relative;
}
.main-container .wrap .bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
    font-size: 14px;
}
.main-container .wrap .bs-wizard>.bs-wizard-step:first-child>.progress{
      left: 50%;
    width: 50%;
}
.main-container .wrap .bs-wizard>.bs-wizard-step>.progress{
  overflow: hidden;
  position: relative;
    border-radius: 0;
    box-shadow: none;
    height: 6px;
    margin: 20px 0;
    background: #ebebeb;
}
.main-container .wrap .bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
  width: 0;
}
.main-container .wrap .bs-wizard>.bs-wizard-step>.progress>.progress-bar {
  box-shadow: none;
  background: #00b6f0;
  transition: none;
}
.main-container .wrap .progress-bar {
  float: left;
  height: 100%;
  line-height: 20px;
  color: #fff;
}
.main-container .wrap .bs-wizard>.bs-wizard-step>.bs-wizard-dot {
  background: #00b6f0;
  font-size: 15px;
  color: #fff;
  border: none;
  line-height: 26px;
  box-shadow: #666 0 0 2px;
  position: absolute;
  width: 26px;
  height: 26px;
  display: block;
  top: 41px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  text-align: center;
}
.main-container .wrap .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-stepnum {
  color: #a3a3a3;
}
.main-container .wrap .bs-wizard>.bs-wizard-step:last-child>.progress {
  width: 50%;
}
.main-container .wrap .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
  background-color: #fff;
  color: #000;
}