/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header .collapsed-block .tabBlockTitle .expander {padding: 0}
    .collapsed-block .tabBlockTitle .expander{margin:0 3px}
    header.type_1 .horizontal .navbar-header{margin-top:1px}
    .logo img{max-width:50%}
    #remove-verticalmenu, #remove-megamenu{padding:0 10px 5px 10px}
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper,
    .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper{padding:13px!important}
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu>li>a strong{color:#fff}
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu li .sub-menu .content{padding: 9px}
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.menu-home-page>li>h2 a{font-size:13px}
    .container-megamenu.vertical .vertical-wrapper ul.menu-home-page li .sub-menu .content .static-menu .menu ul li h3{line-height:13px}
    .container-megamenu.vertical .vertical-wrapper ul li{min-height:23px}
    .responsive ul.megamenu .sub-menu .content .row > div{margin-top:0}
    .container-megamenu.vertical .vertical-wrapper ul.menu-home-page li .sub-menu .content .banner img{margin-top:15px}
    .type_1 .header-top-right ul.top-link>li a.btn,.type_1 .header-top-right ul>li>a{font-size:11px!important}
    .price{margin:0}
    .layout-home1 .module.cus-style-supper-cate .main-right .spcat-items-container.show-pre .ltabs-items-inner .ltabs-item:nth-child(1) .product-item-container,
    .layout-home1 .module.cus-style-supper-cate .main-right .spcat-items-container.show-pre .ltabs-items-inner .ltabs-item .product-item-container{min-height:270px;}
    footer .social_block ul.social-block li a{line-height:49px}
    footer .social_block ul.social-block li{margin:0 8px}
    .breadcrumb li+li:before{padding:0 5px}
    footer{font-size:12px}
    footer .footer-center .footer-links p{line-height:18px}
    footer .box-footer{min-height:130px}
    footer .module span.footer-title, footer .module span.modtitle{font-size:15px}
    .box-footer h4{font-size:13px;line-height:23px}
    .policy-info .article-description p {
        font-size: 14px;
        line-height: 1.5;
    }
    .left-content-product .content-product-right .box-info-product .cart {
        margin-top: 0;
    }
    .left-content-product .content-product-right .box-info-product .quick-cart, .compare button.add-to-compare, .quick-order-form {
        display: none;
    }
    .main-container .wrap .payment-top .btn-social, .main-container .wrap .payment-top .btn-social-icon {
        width: -webkit-fill-available;
    }
    .products-list-related.grid .product-layout .product-item-container.product-lists img {
        width: 70%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .left-content-product .content-product-right .box-info-product .cart {
        margin-top: 0;
    }
    .left-content-product .content-product-right .box-info-product .quick-cart, .compare button.add-to-compare {
        display: none;
    }
    .products-list-related.grid .product-layout .product-item-container.product-lists img {
        width: 65%;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .container-megamenu.vertical #menuHeading .megamenuToogle-wrapper .container{font-size:13px}
    .cart button.add-to-cart {padding:0 3px 0 3px;font-size:11px}
    .quick-cart a.add-to-quick-cart{padding:2px 3px 0 3px;font-size:11px}
    .compare button.add-to-compare{padding:1px 3px 0 3px;font-size:11px}
    .box-footer h4{font-size:13px;line-height: 24px}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    header.type_1 .header-center{padding:5px 0}
    header.type_1 .horizontal .navbar-header{margin-top:10px}
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper,
    
    #remove-verticalmenu, #remove-megamenu{padding:0 10px 5px 10px}
    .layout-home1 .module.cus-style-supper-cate .main-left .hot-category .category-wrap-cat .slider{min-height:301px}
    footer .footer-center .module .footer-logo img{max-width:65%}
    footer .footer-center .module .footer-logo {text-align:center}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .cart button.add-to-cart {padding:0 3px 0 3px;font-size:11px}
    .quick-cart a.add-to-quick-cart{padding:2px 3px 0 3px;font-size:11px}
    .compare button.add-to-compare{padding:1px 3px 0 3px;font-size:11px}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .cart button.add-to-cart {padding:0 5px 0 5px;font-size:12px}
    .quick-cart a.add-to-quick-cart{padding:2px 5px 0 5px;font-size:12px}
    .compare button.add-to-compare{padding:1px 5px 0 5px;font-size:12px}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    footer .footer-center .module .footer-logo img{max-width:70%}
    footer .footer-center .module .footer-logo {text-align:center}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .select2-container{width:145px!important}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .select2-container{width:145px!important}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    header.type_1 .header-center{padding:5px 0}
    header.type_1 .horizontal .navbar-header{margin-top:10px}
    #remove-verticalmenu, #remove-megamenu{padding:0 10px 5px 10px}
    .responsive ul.megamenu .sub-menu .content .row > div{margin-top:0}
    .container-megamenu.vertical .vertical-wrapper ul.menu-home-page li .sub-menu .content .banner img{margin-top:15px}
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper,
    .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper{padding:13px!important}
    .container-megamenu.vertical .vertical-wrapper ul li{min-height:23px}
    .layout-home1 .module.cus-style-supper-cate .main-right .spcat-items-container.products-list.grid .product-layout .product-item-container,
    .layout-home1 .module.cus-style-supper-cate .main-right .spcat-items-container.show-pre .ltabs-items-inner .ltabs-item:nth-child(1) .product-item-container{min-height:310px}
    .layout-home1 .module.cus-style-supper-cate .main-left .hot-category .category-wrap-cat .slider{min-height:338px}
    footer .footer-center .module .footer-logo img{max-width:65%}
    footer .footer-center .module .footer-logo {text-align:center}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}