/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .sidebar-tablet-pd, .best-seller .so-extraslider .owl2-controls {
      display: none;
    }
    .main-container .wrap .nav-register {
      display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body, .module h3.modtitle > span {
      font-size: 13px;
    }
    .inner-box-desc td {
      display: block;
    }
    .left-content-product .content-product-right .box-info-product .add-to-links li, .left-content-product .content-product-right .box-info-product .quick-cart {
      margin-top: 5px;
    }
    .main-container .wrap .register-content {
      width: 470px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .megamenu-pattern .hidden-md, .page-business-choices .hidden-md {
      display: block !important;
  }
  .type_1 .megamenu-style-dev .horizontal ul.megamenu > li > a {
    font-size: 12px;
    padding: 0 11px;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a {
    pointer-events: none;
    cursor: default;
  }
  .view-all-bestseller, .best-seller .so-extraslider .extraslider-inner .item .item-wrap.style1 .media-body .item-info .item-title a {
    font-size: 11px;
  }
  .type_1 .header-bottom .container .header-bottom-inner {
    height: 45px;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .module h3.modtitle > span {
      font-size: 13px;
    }
    .left-content-product .content-product-right .box-info-product .quick-cart {
      margin-top: 0px;
    }
    .sidebar-tablet-pd {
      display: block;
    }
    #tab-review a.btn-rating {
      font-size: 11px;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .megamenu-pattern .hidden-md {
        display: block !important;
    }
    .type_1 .megamenu-style-dev .horizontal ul.megamenu > li > a {
      font-size: 12px;
      padding: 0 11px;
    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a {
      pointer-events: none;
      cursor: default;
    }
    .type_1 .header-bottom .container .header-bottom-inner {
      height: 45px;
    }
    .main-container .wrap .nav-register {
      display: none;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
}