<div id='av_gmap_1' class='avia-google-map-container' data-mapid='1' style='width: 100%; height: 350px;'></div>
                
<script type='text/javascript' class='av-php-sent-to-frontend'>
    /* <![CDATA[ */
    var av_google_map = {};
    av_google_map['0'] = {};
    // ------
    av_google_map['0']['marker'] = {};
    av_google_map['0']['marker']['0'] = {};
    av_google_map['0']['marker']['0']['address'] = "188 Đường Số 1, Phường 16, Quận Gò Vấp";
    av_google_map['0']['marker']['0']['city'] = "Ho Chi Minh City";
    av_google_map['0']['marker']['0']['country'] = "Vietnam";
    av_google_map['0']['marker']['0']['long'] = 106.657565;
    av_google_map['0']['marker']['0']['lat'] = 10.847615;
    av_google_map['0']['marker']['0']['tooltip_display'] = "aviaTBaviaTBtooltip_display";
    av_google_map['0']['marker']['0']['marker'] = 2883;
    av_google_map['0']['marker']['0']['attachment'] = "";
    av_google_map['0']['marker']['0']['imagesize'] = 80;
    av_google_map['0']['marker']['0']['content'] = "<p style='line-height: 1.5;'><img style=\"float:left; margin-left:100px;height:38px;\" src=\"/frontend/image/logos/logo-hkincotech.jpg\" /><img style=\"float:right; margin-right:100px;\" src=\"/frontend/image/logos/logo-timhangcongnghe-140.png\" /><br \/><br \/><br \/>\n<strong>CÔNG TY TNHH GIẢI PHÁP CNTT VÀ TRUYỀN THÔNG HOÀNG KHANG<\/strong><br \/>\nĐịa chỉ: Số 188 Đường số 1, Phường 16, Quận Gò Vấp, TP. HCM, Việt Nam<br \/>\nĐiện thoại: (028) 3984 7690 <strong>-</strong> Fax: (028) 3984 7691<br \/>\nEmail: <a href=\"mailto:info@hoangkhang.com.vn\" target=\"_top\">info@hoangkhang.com.vn</a> <strong>-</strong> <a href=\"mailto:kinhdoanh@hoangkhang.com.vn\" target=\"_top\">kinhdoanh@hoangkhang.com.vn</a><br \/>\nWebsite: <a href=\"http://hoangkhang.com.vn\" target=\"_blank\">http://hoangkhang.com.vn</a> <strong>-</strong> <a href=\"http://timhangcongnghe.com\" target=\"_blank\">http://timhangcongnghe.com</a><\/p>\n";
    av_google_map['0']['marker']['0']['icon'] = "/frontend/image/marker/marker-80x80.png";
    // ------
    av_google_map['0']['hue'] = "";
    av_google_map['0']['zoom'] = 16;
    av_google_map['0']['saturation'] = "";
    av_google_map['0']['zoom_control'] = 1;
    av_google_map['0']['pan_control'] = false;
    av_google_map['0']['mobile_drag_control'] = 1;

    /* ]]> */
</script>

<script type='text/javascript'>
    /* <![CDATA[ */
    var avia_framework_globals = avia_framework_globals || {};
    avia_framework_globals.gmap_api = 'AIzaSyCeshco56fZuzcdCnIYn-5aRn80ebqRs2k';
    /* ]]> */
</script>
<script type='text/javascript' src='/frontend/js-google-map/jquery-cookie/jquery.cookie.min.js'></script>

<script type='text/javascript' src='/frontend/js-google-map/avia.js'></script>
<script type='text/javascript' src='/frontend/js-google-map/shortcodes.js'></script>