/*=======================================================================================================================================
														Primary Theme Color																
=======================================================================================================================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.bt-stars span:after,
.bt-navigation ul li a:hover,
.bt-navigation ul li a.bt-active,
.bt-servicetitle h3:hover,
.bt-service:hover .bt-serviceicon span,
.bt-allservices > div:nth-child(odd) .bt-servicetitle .bt-serviceicon span,
.bt-iconanddescription span,
.bt-countericon,
.bt-posttitle:hover h3 a,
.bt-socialicons li a:hover,
.bt-socialicons li a:hover i,
.bt-socialicons li a:hover i:before,
.bt-tags li a:hover,
.bt-tagsandprojectname h3 a:hover,
.bt-authorname a:hover,
.bt-postmetadata li a:hover,
.bt-contactinfo li a:hover,
.bt-innerbenner h1 span,
.bt-commentbox .bt-commenthead strong a:hover,
.bt-recenpostcontent h4 a:hover,
.bt-teammembercontent h3,
.bt-pricingtables > div:nth-child(2) .bt-pricetable .bt-btnbox .bt-btnwhite{color: #d02552;}
/*=============================================
			Theme Background Color
=============================================*/
.bt-btnred,
.bt-theme-tag,
.bt-iconandheading:hover span,
.bt-active .bt-iconandheading span,
.bt-statactites,
.bt-popular,
.bt-hearticon:hover,
.bt-projects .bt-textshortcode .bt-btn:hover,
.bt-calltoaction .bt-btn:hover,
.bt-postcontent .bt-btn:hover,
.bt-projects .bt-btnbox a:hover,
.bt-teammembercontent .bt-socialicons li a:hover,
.bt-btnplayred,
.bt-pricingtables > div:nth-child(2) .bt-pricetable .bt-btnbox,
.navbar-toggle .icon-bar{background:#d02552;}
/*=============================================
			Theme Border Color
=============================================*/
.bt-theme-tag:after,
.bt-theme-tag:before,
.bt-iconandheading:hover span,
.bt-active .bt-iconandheading span,
.bt-teammembercontent .bt-socialicons li a:hover,
.navbar-toggle{border-color: #d02552;}
/*=======================================================================================================================================
														Secondry Theme Color															
=======================================================================================================================================*/
.bt-allservices > div:nth-child(even) .bt-servicetitle .bt-serviceicon span,
.bt-projects .bt-textshortcode .bt-btn,
.bt-authorname a,
.bt-btnwhite,
.bt-contactinfo li a,
.bt-pricetable:hover .bt-btnbox .bt-btnwhite{color: #3a9dde;}
/*=============================================
			Theme Background Color
=============================================*/
.bt-servicetype li:before,
.bt-projects .bt-textshortcode,
.bt-calltoaction .bt-btn,
.bt-companyskills,
.bt-pricetable .bt-btnbox,
.bt-post figure figcaption time,
.bt-pagination ul li a:hover,
.bt-pagination ul li a.bt-active,
.bt-widgetofficeenvorn ul li figure,
.bt-sidenavigation .bt-socialicons li a:hover{background:#3a9dde;}
.bt-homeslider figure figcaption:before{background: rgba(58, 157, 222, 0.80);}
/*=============================================
			Theme Border Color
=============================================*/
.bt-pagination ul li a:hover,
.bt-pagination ul li a.bt-active{border-color: #3a9dde;}
/*=======================================================================================================================================
													Primary Colors Home Page Two														
=======================================================================================================================================*/
.bt-headervtwo .bt-navigation ul li a:hover,
.bt-headervtwo .bt-navigation ul li a.bt-active,
.bt-allservices.bt-versiontwo > div:nth-child(odd) .bt-servicetitle .bt-serviceicon span,
.bt-versiontwo .bt-service:hover .bt-servicetitle h3 a,
.bt-versiontwo .bt-servicetitle h3 a:hover,
.bt-versiontwo .bt-iconanddescription span,
.bt-versiontwo .bt-pricetable:hover .bt-btnwhite,
.bt-versiontwo .bt-postmetadata .bt-date a,
.bt-versiontwo .bt-posttitle:hover h3 a,
.bt-versiontwo .bt-socialicons li a:hover,
.bt-versiontwo .bt-socialicons li a:hover i,
.bt-versiontwo .bt-socialicons li a:hover i:before,
.bt-versiontwo .bt-tags li a:hover,
.bt-versiontwo .bt-tagsandprojectname h3 a:hover,
.bt-versiontwo .bt-authorname a:hover,
.bt-versiontwo .bt-postmetadata li a:hover,
.bt-versiontwo .bt-contactinfo li a:hover,
.bt-pricingtables.bt-versiontwo > div:nth-child(2) .bt-pricetable .bt-btnbox .bt-btnwhite{color: #f18805;}
/*=============================================
			Theme Background Color
=============================================*/
.bt-versiontwo .bt-iconandheading:hover span,
.bt-versiontwo .bt-active .bt-iconandheading span,
.bt-versiontwo .bt-pricetable:hover .bt-btnbox,
.bt-versiontwo .bt-popular,
.bt-btn.bt-versiontwo,
.bt-versiontwo .bt-hearticon:hover,
.bt-versiontwo .bt-postcontent .bt-btn:hover,
.bt-pricingtables.bt-versiontwo > div:nth-child(2) .bt-pricetable .bt-btnbox,
.bt-headervtwo .navbar-toggle .icon-bar{background:#f18805;}
.bt-team figcaption{background: rgba(241, 136, 5, 0.90);}
/*=============================================
			Theme Border Color
=============================================*/
.bt-versiontwo .bt-iconandheading:hover span,
.bt-versiontwo .bt-active .bt-iconandheading span,
.bt-versiontwo .bt-socialicons li a:hover{border-color: #f18805;}
/*=======================================================================================================================================
													Secondry Colors Home Page Two														
=======================================================================================================================================*/
.bt-allservices.bt-versiontwo > div:nth-child(even) .bt-servicetitle .bt-serviceicon span,
.bt-versiontwo .bt-countericon,
.bt-versiontwo .bt-authorname a,
.bt-versiontwo .bt-btnwhite,
.bt-versiontwo .bt-contactinfo li a,
.bt-versiontwo .bt-socialiconsround li a:hover,
.bt-versiontwo .bt-socialiconsround li a:hover i,
.bt-versiontwo .bt-socialiconsround li a:hover i:before,
.bt-versiontwo .bt-teamtitel h3 a:hover{color: #028090;}
/*=============================================
			Theme Background Color
=============================================*/
.bt-calltoaction.bt-versiontwo .bt-btn:hover,
.bt-versiontwo .bt-pricetable .bt-btnbox,
.bt-versiontwo .bt-formarea .bt-btn{background:#028090;}
/* {background: rgba(2, 128, 144, 1.00);} */
/*=============================================
			Theme Border Color
=============================================*/
/* {border-color: #028090;} */
/*=======================================================================================================================================
														Primary  Color Home	Page Three													
=======================================================================================================================================*/
.bt-slidercontent h1 span i,
.bt-navfilterbale li a:hover,
.bt-navfilterbale li a.bt-active,
.bt-featuretitle h3 a:hover,
.bt-versionthree .bt-tags li a:hover,
.bt-versionthree .bt-tagsandprojectname h3 a:hover,
.bt-versionthree .bt-iconanddescription span,
.bt-versionthree .bt-authorname a:hover,
.bt-pricingtables.bt-versionthree > div:nth-child(2) .bt-pricetable .bt-btnbox .bt-btnwhite,
.bt-versionthree .bt-contactinfo li a:hover,
.bt-versionthree .bt-socialicons li a:hover,
.bt-versionthree .bt-socialicons li a:hover i,
.bt-versionthree .bt-socialicons li a:hover i:before{color: #6ba813;}
/*=============================================
			Theme Background Color
=============================================*/
.bt-versionthree .owl-item:nth-child(odd) .bt-serviceicon span,
.bt-navfilterbale li a:before,
.bt-versionthree .bt-hearticon:hover,
.bt-calltoaction.bt-versionthree .bt-btn:hover,
.bt-versionthree .bt-iconandheading:hover span,
.bt-versionthree .bt-active .bt-iconandheading span,
.bt-pricingtables.bt-versionthree > div:nth-child(2) .bt-pricetable .bt-btnbox,
.bt-versionthree .bt-popular,
.bt-versionthree .bt-formsubscribe .bt-btn,
.bt-versionthree .bt-formcontactus .bt-btn{background:#6ba813;}
.bt-versionthree .bt-team figcaption{background: rgba(107, 168, 19, 0.90);}
/*=============================================
			Theme Border Color
=============================================*/
.bt-versionthree .bt-iconandheading:hover span,
.bt-versionthree .bt-active .bt-iconandheading span{border-color: #6ba813;}
/*=======================================================================================================================================
													Secondry Colors Home Page Three														
=======================================================================================================================================*/
.bt-versionthree .bt-service:hover .bt-servicetitle h3 a,
.bt-versionthree .bt-countericon,
.bt-versionthree .bt-teamtitel h3 a:hover,
.bt-versionthree .bt-team .bt-socialiconsround li a:hover,
.bt-versionthree .bt-team .bt-socialiconsround li a:hover i,
.bt-versionthree .bt-team .bt-socialiconsround li a:hover i:before,
.bt-versionthree .bt-authorname a,
.bt-versionthree .bt-btnwhite,
.bt-versionthree .bt-postmetadata li a:hover,
.bt-versionthree .bt-posttitle h3 a:hover,
.bt-versionthree .bt-contactinfo li a{color: #3a2c5f;}
/*=============================================
			Theme Background Color
=============================================*/
.bt-versionthree .owl-item:nth-child(even) .bt-serviceicon span,
.bt-thinlinepagination .owl-controls .owl-page.active span,
.bt-thinlinepagination .owl-controls .owl-page:hover span,
.bt-calltoaction.bt-versionthree .bt-btn,
.bt-versionthree .bt-pricetable .bt-btnbox,
.bt-versionthree .bt-post figure figcaption time,
.bt-versionthree .bt-postcontent .bt-btn:hover{background:#3a2c5f;}
{background: rgba(58, 44, 95, 1.00);}
/*=============================================
			Theme Border Color
=============================================*/
.bt-versionthree .bt-service:hover .bt-serviceicon span{border-color: #3a2c5f;}



















