.float-right {
  float: right;
  padding-left: 5px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.bt-contactformandinfo .bt-fullheading h2, .bt-companyskills .bt-fullheading h2, .bt-aboutpowax .bt-fullheading h2, .bt-fullheading h2, .bt-counter h4, .bt-textshortcode .bt-fullheading h2, .bt-fullheading h2 strong {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.bt-companyskills .bt-description {
  padding: 0 0 30px;
}
@media (max-width: 1440px) {
  .bt-projects .bt-textshortcode .bt-box .bt-description {
    padding: 0 0 10px;
  }
}