<% title 'Dịch Vụ Thi Công Hạ Tầng Mạng' %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, '//timhangcongnghe.com/' %></li>
        <li><%= link_to "Thi Công Hạ Tầng Mạng", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <div id="content" class="col-md-12 col-sm-12">            
            <div class="products-category">
                <h1 class="menu-title">Dịch Vụ Thi Công Hạ Tầng Mạng</h1>
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> Nội dung dịch vụ thi công hạ tầng mạng đang được bổ sung.
                </div>
            </div>
        </div>
    </div>
</div>