<select class="form-control required" id="input-payment-zone" name="contact[district_id]">
    <option value=""> --- Chọn quận/huyện/thị xã --- </option>
    <% @districts.each do |district| %>
        <option <%= 'selected' if params[:current_value].present? and params[:current_value].to_s == district.id.to_s %> value="<%= district.id %>"><%= district.name %></option>
    <% end %>
</select>
