<select class="form-control" id="input-payment-zone" name="contact[district_id]">
    <option value=""> --- Chọn quận/huyện/thị xã --- </option>
    <% @districts.each do |district| %>
        <option value="<%= district.id %>"><%= district.name %></option>
    <% end %>
</select>
