.wpisset-custom-faq-page-styles1{color:#fff}.wpisset-custom-faq-page-styles1 a{color:#389fff}.wpisset-custom-faq-page-styles1 a:hover{color:#ffc421}@media (max-width:1200px){.wpisset-custom-faq-style-1 .wpisset-ele-es-banner4-item-content{min-height:200px!important}}
.vc_custom_1612958432249 {
	margin-bottom: .5rem!important
}
.vc_custom_1610965013563 {
	margin-bottom: .5rem!important
}

.vc_custom_1610965692073 {
	margin-bottom: 2rem!important
}

.vc_custom_1610966193947 {
	margin-bottom: 2rem!important
}

.vc_custom_1610966062394 {
	margin-bottom: 2rem!important
}
.vc_custom_1612958445029 {
	padding-top: .5rem!important;
	padding-bottom: .5rem!important;
	background-color: #f5f5f5!important
}