<div class="img-1 banner1-1">
    <%= link_to image_tag("/frontend/image/banner/banner-4-1.png", alt: "Static Image"), "/chuyen-muc/42/may-vi-tinh.html", title: "Static Image" %>
</div>
<div class="img-1 banner1-2">
    <%= link_to image_tag("/frontend/image/banner/banner-4-2.png", alt: "Static Image"), "/chuyen-muc/106/san-pham-van-phong.html", title: "Static Image" %>
</div>
<div class="img-1 banner1-3">
    <%= link_to image_tag("/frontend/image/banner/banner-4-3.png", alt: "Static Image"), "/chuyen-muc/107/thiet-bi-mang.html", title: "Static Image" %>
</div>
<div class="img-1 banner1-4">
    <%= link_to image_tag("/frontend/image/banner/banner-4-4.png", alt: "Static Image"), "/chuyen-muc/109/thiet-bi-an-ninh.html", title: "Static Image" %>
</div>
