<div class="so-spotlight3">
    <div class="container">
        <ul class="mudule list-services row">
            <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span><%= image_tag("/frontend/image/cms/free-shipping.png", alt: "Giao hàng nhanh chóng") %></span>
            </li>
            <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span><%= image_tag("/frontend/image/cms/guaranteed.png", alt: "100% hài lòng - Yên tâm chất lượng") %></span>
            </li>
            <li class="item-service col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span><%= image_tag("/frontend/image/cms/deal.png", alt: "Quà tặng hấp dẫn mỗi ngày") %></span>
            </li>
        </ul>
    </div>
</div>