<div class="module menu-category titleLine">
    <h3 class="modtitle"><span><i class="fa fa-support"></i> Những điều cần biết</span></h3>
    <div class="modcontent">
        <div class="box-category">
            <ul id="cat_accordion" class="list-group fix_active">
                <% @categories.each do |cat| %>
                <li>
                    <%= link_to cat.name,
                        cat.articles.empty? ? '#' : erp_online_store.policy_path(cat.id, url_friendly(cat.articles.last.name)),
                        class: "#{'current' if params[:category_id] == cat.id.to_s}"
                    %>
                </li>
                <% end %>
                <li class="hadchild cutom-parent-li">
                    <%= link_to "Các điều khoản & Điều kiện", erp_online_store.terms_and_conditions_path,
                        class: "#{'current' if params[:action] == 'terms_and_conditions'}"
                    %>
                </li>
                <li class="hadchild cutom-parent-li">
                    <%= link_to "Câu hỏi thường gặp", erp_online_store.faq_path,
                        class: "#{'current' if params[:action] == 'faq'}"
                    %>
                </li>
                <% if erp_online_store.faq_path.include?(params[:controller]) %>sdfsdfsd<% end %>
            </ul>
        </div>
    </div>
</div>