<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Các câu hỏi thường gặp", "javascript:void(0)" %></li>
    </ul>

    <div class="row">
        <div id="content" class="col-sm-12">
            <h3>Những câu hỏi thường gặp khi sử dụng trang thương mại điện tử TimHangCongNghe.vn</h3>
            <p>
                Chào mừng bạn đến với website thương mại điện tử của Hoàng Khang Incotech.
                Dưới đây là những câu hỏi trên TimHangCongNghe mà khách hàng thường gặp.
                Mời bạn tham khảo trước khi đặt ra các câu hỏi đối với bội phận hỗ trợ của TimHangCongNghe.
            </p>
            <p><br></p>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="yt-accordion">
                        <% @faqs.each do |faq| %>
                            <li class="accordion-group">
                                <h3 class="accordion-heading"><i class="fa fa-plus-square"></i><span><%= faq.name %></span></h3>
                                <div class="accordion-inner">
                                    <p><%= faq.content.html_safe %></p>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>