<div class="container">
    <div class="gap"></div>
    <h4>Tìm kiếm sản phẩm trực tuyến với từ khóa: <strong><i><%= params[:keywords] %></i></strong></h4>
    <br>

    <h3 class="widget-title-lg">Sản phẩm từ <strong>Ebay.com</strong></h3>
    <div class="online_search_box" data-url="<%= erp_online_store.online_ordering_search_ebay_path(keywords: params[:keywords]) %>">

    </div>

    <br><br>

    <h3 class="widget-title-lg">Sản phẩm từ <strong>Amazon.com</strong></h3>
    <div class="online_search_box" data-url="<%= erp_online_store.online_ordering_search_amazon_path(keywords: params[:keywords]) %>">

    </div>
</div>
