<% title "Lựa Chọn Hàng Đầu" %>
<div class="main-container container">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path, title: 'Tìm Hàng Công Nghệ' %></li>
        <li><%= link_to 'Lựa Chọn Hàng Đầu', 'javascript:void(0)', title: 'Lựa Chọn Hàng Đầu' %></li>
    </ul>
</div>
<div class="page-business-choices">
    <%= render 'erp/online_store/frontend/modules/business_choices/slider' %>
    <div class="so-spotlight3">
        <div class="container">
            <%= render 'erp/online_store/frontend/modules/business_choices/list', menus: @menus, products: @products %>   
        </div>
    </div>
</div>