<section id="bt-aboutpowax" class="bt-sectionpadding bt-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="bt-aboutpowax">
                    <div class="bt-fullheading">
                        <span>Who We Are</span>
                        <h2>About Powax</h2>
                    </div>
                    <div id="bt-iconsslider" class="bt-iconsslider bt-icons">
                        <% (0..4).each do |title| %>
                        <div class="item bt-iconandheading">
                            <span class="icon-lightbulb"></span>
                            <h3>Tiêu đề</h3>
                        </div>
                        <% end %>
                    </div>
                    <div id="bt-descriptionslider" class="bt-descriptionslider bt-descriptionbox">
                        <% (0..4).each do |description| %>
                        <div class="item bt-iconanddescription">
                            <span class="icon-lightbulb"></span>
                            <div class="bt-description">
                                <p>
                                    <%= "Nội dung giới thiệu......" %>
                                </p>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>