<div class="bt-sectionpadding bt-haslayout" data-appear-top-offset="600" data-parallax="scroll" data-image-src="frontend/business-template/images/bgparallax/bgparallax-01.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="bt-calltoaction navbar-collapse">
                    <div class="bt-fullheading">
                        <h2>Doanh Nghiệp Bạn Đã Sẵn Sàng Hợp Tác Với Chúng Tôi</h2>
                    </div>
                    <div class="bt-description">
                        <p>Chúng Tôi Mang Đến Dịch Vụ Toàn Diện Dành Cho Doanh Nghiệp Của Bạn</p>
                    </div>
                    <a class="bt-btn" href="#bt-contactus">Liên Hệ Hợp Tác</a>
                </div>
            </div>
        </div>
    </div>
</div>