<section class="bt-haslayout">
    <div class="container-fluid">
        <div class="row">
            <div class="bt-companyskillsandvideo">
                <div class="bt-companyskills">
                    <div class="bt-fullheading">
                        <h2>Company Skills</h2>
                    </div>
                    <div class="bt-description">
                        <p>Powar is an award winning creative design agency building apps and experiences for the web We Provde Outstanding Services to Our Customers</p>
                    </div>
                    <div id="bt-ourskill" class="bt-ourskill bt-skillgroup">
                        <div class="bt-skill">
                            <h4>Web Design</h4>
                            <div class="bt-skillholder" data-percent="88%">
                                <div class="bt-skillbar"></div>
                            </div>
                        </div>
                        <div class="bt-skill">
                            <h4>Web Develpment</h4>
                            <div class="bt-skillholder" data-percent="95%">
                                <div class="bt-skillbar"></div>
                            </div>
                        </div>
                        <div class="bt-skill">
                            <h4>Mobile Application</h4>
                            <div class="bt-skillholder" data-percent="76%">
                                <div class="bt-skillbar"></div>
                            </div>
                        </div>
                        <div class="bt-skill">
                            <h4>Graphic Design</h4>
                            <div class="bt-skillholder" data-percent="82%">
                                <div class="bt-skillbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bt-videobox">
                    <figure>
                        <%= image_tag "/frontend/business-template/images/img-03.jpg", alt: "" %>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>