<section class="bt-haslayout">
    <div class="container-fluid">
        <div class="row">
            <div class="bt-companyskillsandvideo">
                <div class="bt-companyskills">
                    <div class="bt-fullheading">
                        <h2>Sản Phẩm Phân Phối Chính</h2>
                    </div>
                    <div class="bt-description">
                        <p>TimHangCongNghe.Vn phân phối các dòng sản phẩm của mình theo các mục dưới đây:</p>
                    </div>
                    <div id="bt-ourskill" class="bt-ourskill bt-skillgroup">
                        <div class="bt-skill">
                            <h4>Thiết Bị Tin Học</h4>
                            <div class="bt-skillholder" data-percent="88%">
                                <div class="bt-skillbar"></div>
                            </div>
                        </div>
                        <div class="bt-skill">
                            <h4>Thiết Bị Văn Phòng</h4>
                            <div class="bt-skillholder" data-percent="88%">
                                <div class="bt-skillbar"></div>
                            </div>
                        </div>
                        <div class="bt-skill">
                            <h4>Thiết Bị Mạng</h4>
                            <div class="bt-skillholder" data-percent="95%">
                                <div class="bt-skillbar"></div>
                            </div>
                        </div>
                        <div class="bt-skill">
                            <h4>Thiết Bị Viễn Thông</h4>
                            <div class="bt-skillholder" data-percent="76%">
                                <div class="bt-skillbar"></div>
                            </div>
                        </div>
                        <div class="bt-skill">
                            <h4>Thiết Bị An Ninh</h4>
                            <div class="bt-skillholder" data-percent="82%">
                                <div class="bt-skillbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bt-videobox">
                    <figure>
                        <%= image_tag "/frontend/business-template/images/img-03.jpg", alt: "" %>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>