<section id="bt-services" class="bt-sectionpadding bt-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="bt-fullheading">
                    <h2><strong>We designing,</strong> web, mobile applications, UX/UI, branding and more</h2>
                </div>
            </div>
            <div class="bt-services">
                <% (0..2).each do |main_service| %>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="bt-service">
                        <div class="bt-serviceicon">
                            <span class="icon-hotairballoon"></span>
                        </div>
                        <div class="bt-servicetitle">
                            <h3>Sản Phẩm Công Nghệ</h3>
                        </div>
                        <div class="bt-description">
                            <p>Lời giới thiệu...</p>
                        </div>
                        <ul class="bt-servicetype">
                            <li>Các Sản Phẩm HP</li>
                            <li>Thiết Bị Tin Học</li>
                            <li>Thiết Bị Văn Phòng</li>
                            <li>Thiết Bị Kỹ Thuật Số</li>
                            <li>Phụ Kiện - Linh Kiện</li>
                        </ul>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>