<section class="bt-sectionpadding bt-paddbottomzero bt-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="bt-fullheading bt-styletwo">
                    <span>Passionate About Perfection</span>
                    <h2>Pricing Tables</h2>
                </div>
            </div>
            <div class="bt-pricingtables">
                <div class="col-sm-4">
                    <div class="bt-pricetable">
                        <div class="bt-pkgname">
                            <h3>Starter</h3>
                        </div>
                        <div class="bt-pkgprice">
                            <h4><sup>$</sup>29</h4>
                        </div>
                        <span class="bt-visits">75,000 Visits</span>
                        <ul>
                            <li>Email Support</li>
                            <li>x</li>
                            <li>5GB Bandwidth</li>
                            <li>x</li>
                            <li>Free Upgrades</li>
                        </ul>
                        <div class="bt-btnbox">
                            <a class="bt-btn bt-btnwhite" href="#">sign up now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="bt-pricetable">
                        <span class="bt-popular">Popular</span>
                        <div class="bt-pkgname">
                            <h3>Growth</h3>
                        </div>
                        <div class="bt-pkgprice">
                            <h4><sup>$</sup>49</h4>
                        </div>
                        <span class="bt-visits">175,000 Visits</span>
                        <ul>
                            <li>Email Support</li>
                            <li>24/7 Free Support</li>
                            <li>5GB Bandwidth</li>
                            <li>x</li>
                            <li>Free Upgrades</li>
                        </ul>
                        <div class="bt-btnbox">
                            <a class="bt-btn bt-btnwhite" href="#">sign up now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="bt-pricetable">
                        <div class="bt-pkgname">
                            <h3>Premier</h3>
                        </div>
                        <div class="bt-pkgprice">
                            <h4><sup>$</sup>89</h4>
                        </div>
                        <span class="bt-visits">350,000 Visits</span>
                        <ul>
                            <li>Email Support</li>
                            <li>24/7 Free Support</li>
                            <li>5GB Bandwidth</li>
                            <li>100GB Storage</li>
                            <li>Free Upgrades</li>
                        </ul>
                        <div class="bt-btnbox">
                            <a class="bt-btn bt-btnwhite" href="#">sign up now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>