<section id="bt-projects" class="bt-sectionpadding bt-paddbottomzero bt-haslayout">
    <div class="container-fluid">
        <div class="row">
            <div class="bt-projects">
                <div class="bt-textshortcode bt-projectthreecolumns">
                    <figure><img src="frontend/business-template/images/projects/img-01.jpg" alt="image description"></figure>
                    <div class="bt-box">
                        <div class="bt-fullheading">
                            <span>Our Work</span>
                            <h2>Latest Projects</h2>
                        </div>
                        <div class="bt-description">
                            <p>Powax is an award winning creative design agency building apps and experiences for the web Omnis.</p>
                            <p>iste natus sit voluptatem accusantium doloremque laudantium, onepage, creative, simple, totam rem aperiam.perspiciatis one page omnis iste. Creative Theme for Creative People.</p>
                        </div>
                        <a class="bt-btn" href="#">View all work</a>
                    </div>
                </div>
                <div class="bt-project bt-projectthreecolumns">
                    <figure class="bt-projectimg">
                        <img src="frontend/business-template/images/projects/img-01.jpg" alt="image description">
                        <figcaption class="bt-projectdescription">
                            <div class="bt-projectholder">
                                <span class="bt-hearticon icon-heart"></span>
                                <div class="bt-tagsandprojectname">
                                    <ul class="bt-tags">
                                        <li><a href="projectdetail.html">website</a></li>
                                        <li><a href="projectdetail.html">graphic</a></li>
                                    </ul>
                                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="bt-project bt-projectthreecolumns">
                    <figure class="bt-projectimg">
                        <img src="frontend/business-template/images/projects/img-02.jpg" alt="image description">
                        <figcaption class="bt-projectdescription">
                            <div class="bt-projectholder">
                                <span class="bt-hearticon icon-heart"></span>
                                <div class="bt-tagsandprojectname">
                                    <ul class="bt-tags">
                                        <li><a href="projectdetail.html">website</a></li>
                                        <li><a href="projectdetail.html">graphic</a></li>
                                    </ul>
                                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="bt-project bt-projecttwocolumns">
                    <figure class="bt-projectimg">
                        <img src="frontend/business-template/images/projects/img-03.jpg" alt="image description">
                        <figcaption class="bt-projectdescription">
                            <div class="bt-projectholder">
                                <span class="bt-hearticon icon-heart"></span>
                                <div class="bt-tagsandprojectname">
                                    <ul class="bt-tags">
                                        <li><a href="projectdetail.html">website</a></li>
                                        <li><a href="projectdetail.html">graphic</a></li>
                                    </ul>
                                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="bt-project bt-projectfourcolumns">
                    <figure class="bt-projectimg">
                        <img src="frontend/business-template/images/projects/img-04.jpg" alt="image description">
                        <figcaption class="bt-projectdescription">
                            <div class="bt-projectholder">
                                <span class="bt-hearticon icon-heart"></span>
                                <div class="bt-tagsandprojectname">
                                    <ul class="bt-tags">
                                        <li><a href="projectdetail.html">website</a></li>
                                        <li><a href="projectdetail.html">graphic</a></li>
                                    </ul>
                                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="bt-project bt-projectfourcolumns">
                    <figure class="bt-projectimg">
                        <img src="frontend/business-template/images/projects/img-05.jpg" alt="image description">
                        <figcaption class="bt-projectdescription">
                            <div class="bt-projectholder">
                                <span class="bt-hearticon icon-heart"></span>
                                <div class="bt-tagsandprojectname">
                                    <ul class="bt-tags">
                                        <li><a href="projectdetail.html">website</a></li>
                                        <li><a href="projectdetail.html">graphic</a></li>
                                    </ul>
                                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="bt-project bt-projectfourcolumns">
                    <figure class="bt-projectimg">
                        <img src="frontend/business-template/images/projects/img-06.jpg" alt="image description">
                        <figcaption class="bt-projectdescription">
                            <div class="bt-projectholder">
                                <span class="bt-hearticon icon-heart"></span>
                                <div class="bt-tagsandprojectname">
                                    <ul class="bt-tags">
                                        <li><a href="projectdetail.html">website</a></li>
                                        <li><a href="projectdetail.html">graphic</a></li>
                                    </ul>
                                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="bt-statactites bt-projectfourcolumns">
                    <figure><img src="frontend/business-template/images/projects/placeholder-02.jpg" alt="image description"></figure>
                    <div class="bt-box">
                        <div class="bt-counters">
                            <div class="bt-counter">
                                <span class="bt-countericon icon-trophy"></span>
                                <span class="bt-count" data-from="0" data-to="39" data-speed="8000" data-refresh-interval="50">39</span>
                                <h4>Winning awards</h4>
                            </div>
                            <div class="bt-counter">
                                <span class="bt-countericon icon-mobile"></span>
                                <span class="bt-count" data-from="0" data-to="534" data-speed="8000" data-refresh-interval="50">534</span>
                                <h4>Websites and Applications</h4>
                            </div>
                            <div class="bt-counter">
                                <span class="bt-countericon icon-happy"></span>
                                <span class="bt-count" data-from="0" data-to="200" data-speed="8000" data-refresh-interval="50">200</span>
                                <h4>Happy Clients Worldwide</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action Start -->
    <%= render "erp/online_store/frontend/business_page/modules/call_to_action" %>
    <!-- Call to Action End -->
</section>