<section class="bt-sectionpadding bt-paddbottomzero bt-haslayout">
    <div class="container">
        <div class="row">
            <div class="bt-services bt-allservices">
                <% (0..5).each do |services| %>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="bt-service">
                        <div class="bt-servicetitle">
                            <h3>Brand Indentity</h3>
                            <h4>Making a New You</h4>
                            <div class="bt-serviceicon">
                                <span class="icon-tools"></span>
                            </div>
                        </div>
                        <div class="bt-description">
                            <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>