<section class="bt-sectionpadding bt-haslayout bt-alphabet">
    <div class="container">
        <div class="row">
            <div class="bt-wearecreative">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bt-verticalmiddle">
                    <div class="bt-textshortcode">
                        <div class="bt-fullheading">
                            <span>We’re creative</span>
                            <h2>Dream big &amp; make it happen</h2>
                        </div>
                        <div class="bt-description">
                            <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our modernisation of web development all around world.</p>
                            <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
                        </div>
                        <%= link_to "Xem chi tiết", "", class: "bt-btn bt-btnred" %>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bt-verticalmiddle">
                    <div class="bt-videoshortcode">
                        <figure>
                            <%= image_tag "/frontend/business-template/images/img-01.jpg", alt: "" %>
                            <a class="bt-btnplay bt-btnplayred" href="https://www.youtube.com/watch?v=TpMJ2XlzO-0" data-rel="prettyPhoto[iframe]"><i class="fa fa-play"></i></a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>