<aside class="col-sm-3 hidden-xs" id="column-right">
    <h2 class="no-margin-top subtitle">Tài khoản của tôi</h2>
    <div class="list-group">
        <ul class="list-item">
            <li><%= link_to "Thông tin tài khoản", erp_online_store.my_account_path %></li>
            <li><%= link_to "Lịch sử mua hàng", erp_online_store.order_history_path %></li>
            <li><%= link_to "Đăng xuất", erp.destroy_user_session_path,
                                        method: :delete,
                                        redirect_to: erp.backend_path,
                                        class: 'link-method' %></li>
        </ul>
    </div>    
    <h2 class="subtitle">Thống kê tài khoản</h2>
    <div class="list-group">
        <ul class="list-item account-report">
            <li>Số lượng đơn hàng: 500</li>
            <li>Đơn hàng thành công: 450</li>
            <li>Đơn hàng đã hủy: 50</li>
            <li>Số lượng mặt hàng: 450</li>
            <li>Tổng tiền giao dịch: <span class="price">1,000,000,000₫</span></li>
        </ul>
    </div>
</aside>