<div class="vc_row wpb_row vc_row-fluid wpisset-product-loop-grid-big wpisset-woo-enable-loop-desc wpisset-ele-es-animate-fadein vc_custom_1612943812690">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class=" wpisset_ele_es_banner3 wpisset_ele_es_banner3-881739608" >
                    <div class="wpisset-ele-es-banner3 wpisset-ele-es-banner3-no-res-img">
                        <div class="wpisset-ele-es-banner3-item">
                            <div class="wpisset-ele-es-banner3-item-wrap">
                                <div class="wpisset-ele-es-banner3-item-bg">
                                    <div class="wpisset-ele-es-banner3-item-img">
                                        <%= image_tag '/img/tmp/modules/banner-1266x210.jpg', alt: '', title: '', class: 'wpisset-ele-es-banner3-img' %>
                                    </div>
                                </div>
                                <div class="wpisset-ele-es-banner3-item-content">
                                    <div class="wpisset-ele-es-banner3-item-content-title">
                                        <span class="wpisset-ele-es-banner-font-strong">Máy Bay Drone DJI Mini 2</span><br>
                                        <span class="wpisset-ele-es-banner-font-thin wpisset-ele-es-banner-font-animate">Fly More Combo</span><br>
                                        <span class="wpisset-ele-es-banner-label">BÁN CHẠY NHẤT</span>
                                    </div>
                                    <div class="wpisset-ele-es-banner3-item-content-content">
                                        <span class="wpisset-ele-es-banner-desc">Số Lượng Giới Hạn</span><br>
                                        <span class="wpisset-ele-es-banner-price">
                                            <%= format_price(13990000) %>
                                            <del><%= format_price(18990000) %></del>
                                        </span>
                                        <%= link_to '<span>'.html_safe + 'ĐẶT MUA NGAY' + '</span>'.html_safe, '', title: '', class: 'wpisset-button' %>
                                    </div>
                                    <div class="wpisset-ele-es-banner3-item-content-badge">
                                        <span class="wpisset-ele-es-banner3-item-content-badge-small">GIẢM</span> 10%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_banner3-881739608 .wpisset-ele-es-banner3-item-content-title{font-size:28px}.wpisset_ele_es_banner3-881739608 .wpisset-ele-es-banner3-item-wrap{border:1px solid #d7d7d7}@media screen and (min-width:1301px){.wpisset_ele_es_banner3-881739608 .wpisset-ele-es-banner3-item-content{padding-left:1.5rem}}</style></svg>
            </div>
        </div>
    </div>
</div>