<div class="img-1 banner1-1">
    <%= link_to image_tag("/frontend/image/banner/m1.jpg", alt: "Static Image"), "", title: "Static Image" %>
</div>
<div class="img-1 banner1-2">
    <%= link_to image_tag("/frontend/image/banner/m2.jpg", alt: "Static Image"), "", title: "Static Image" %>
</div>
<div class="img-1 banner1-3">
    <%= link_to image_tag("/frontend/image/banner/m3.jpg", alt: "Static Image"), "", title: "Static Image" %>
</div>
<div class="img-1 banner1-4">
    <%= link_to image_tag("/frontend/image/banner/m4.jpg", alt: "Static Image"), "", title: "Static Image" %>
</div>