<div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612944263041">
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpisset-custom-home-ii-style-1 wpisset_ele_es_banner1 wpisset_ele_es_banner1" >
                    <div class="wpisset-ele-es-banner1">
                        <a class="wpisset-ele-es-banner1-item" href="" title="">
                            <div class="wpisset-ele-es-banner1-item-wrap">
                                <div class="wpisset-ele-es-banner1-item-bg">
                                    <div class="wpisset-ele-es-banner1-item-img"><%= image_tag '/img/home/banner/banner-800x400-01.png', alt: '', title: '' %></div>
                                </div>
                                <div class="wpisset-ele-es-banner1-item-content">
                                    <div class="wpisset-ele-es-banner1-item-content-title">MacBook Pro 14" & 16"</div>
                                    <div class="wpisset-ele-es-banner1-item-content-content">
                                        <span class="wpisset-ele-es-banner-desc">Xem Ngay</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{min-height:200px}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-top:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-bottom:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-left:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-content{padding-right:1rem}.wpisset_ele_es_banner1 .wpisset-ele-es-banner1-item-wrap{border:1px solid #d7d7d7}</style></svg>
            </div>
        </div>
    </div>

</div>