<!-- Banner Content -->
<div class="module banner">
    <div class="banners">
        <div>
            <%= link_to image_tag("/frontend/image/banner/banner-5-1.png", alt: "Static Image"), "", title: "Static Image" %>
        </div>
    </div>
</div>
<!-- End Banner -->

<% Erp::Menus::Menu.get_menu_hot.each do |menu_hot| %>
<div class="category_box" data-url="<%= erp_online_store.category_box_path(menu_hot_id: menu_hot.id) %>"></div>
<% end %>