<% (0..1).each do |blog| %>
<div class="media">
    <div class="item">
        <div class="media-body">
            <div class="media-date-added">28<br>
                <span>Mar</span>
            </div>
            <div class="media-content">
                <h4 class="media-heading">
                    <%= link_to "Pellentse tincidunt Suspendis malesu", "", title: "Pellentse tincidunt Suspendis malesu" %>
                </h4>
                <div class="description">
                    <%= "Commodo laoreet semper tincidunt lorem Vestibulum nunc at In Curabitur magna....." %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>