<% Erp::Testimonials::Testimonial.order('created_at DESC').each do |testimonial| %>
<div class="block_content">
    <div class="image">
        <%= image_tag(testimonial.logo.small, alt: testimonial.author) %>
    </div>
    <div class="block-info">
        <div class="text">"<%= testimonial.content %>"</div>
        <div class="info">
            <div class="author">- <%= testimonial.author %></div>
        </div>
    </div>
</div>
<% end %>