<% (0..3).each do |testimonial| %>
<div class="block_content">
    <div class="image">
        <%= image_tag "/frontend/image/cms/clients_say.png", alt: ""%>
    </div>
    <div class="block-info">
        <div class="text">"Aliquam ut tellus dignissim, cursus erat ultricies tellus cursus erat ultricies tellus.. Nulla tempus sollicitudin mauris cursus dictum. Commodo laoreet semper lorem."</div>
        <div class="info">
            <div class="author">- BonBon Supper</div>
        </div>
    </div>
</div>
<% end %>