<% title @page_title.html_safe %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">Chính Sách, Quy Định Chung</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top1 vc_custom_1612369362708 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;color:#fff;line-height:1;text-align:center" class="vc_custom_heading vc_custom_1612368327480" >
                                Chính Sách, Quy Định Chung
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Quy Chế Hoạt Động</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p><strong>1. NGUYÊN TẮC CHUNG</strong></p>
                                    <p>Trang TMĐT Tìm Hàng Công Nghệ do Công ty TNHH Giải Pháp CNTT và Truyền Thông Hoàng Khang (viết tắt là "Hoang Khang Incotech") trực tiếp phát triển và vận hành.</p>
                                    <p>Nguyên tắc này áp dụng cho các cá nhân, tổ chức, doanh nghiệp sử dụng trang.</p>
                                    <p>Mọi hoạt động tại Tìm Hàng Công Nghệ được tự do thỏa thuận trên cơ sở tôn trọng quyền và lợi ích hợp pháp của các bên tham gia mua bán sản phẩm, dịch vụ thông qua hợp đồng, không trái với qui định của pháp luật.</p>
                                    <p>Hoạt động mua bán hàng hóa được thực hiện công khai, minh bạch, đảm bảo quyền lợi của người tiêu dùng.</p>
                                    <p>Tất cả các nội dung trong Quy định này đều tuân thủ theo hệ thống pháp luật hiện hành của Việt Nam.</p>
                                    <p><strong>2. CÁC CHÍNH SÁCH ÁP DỤNG</strong></p>
                                    <p>Chính sách vận chuyển: Xem tại đây...</p>
                                    <p>Chính sách bảo hành: Xem tại đây...</p>
                                    <p>Chính sách đổi trả, hoàn tiền: Xem tại đây...</p>
                                    <p>Chính sách bảo mật thông tin khách hàng: Xem tại đây...</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Điều Khoản Giao Dịch</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Để đảm bảo chính xác các dịch vụ mà chúng tôi cung cấp. Chúng tôi đưa ra các Điều khoản giao dịch nhằm thông báo với Quý khách hàng về các vấn đề liên quan đến dịch vụ. Để hiểu rằng khi sử dụng Tìm Hàng Công Nghệ, Quý khách hàng cần ĐỒNG Ý với các Điều khoản giao dịch này.</p>
                                    <p>Tìm Hàng Công Nghệ có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều khoản này. Các thay đổi có hiệu lực ngay khi được đăng trên website mà không cần thông báo trước. Và khi Quý khách hàng tiếp tục sử dụng Tìm Hàng Công Nghệ sau khi các thay đổi về Điều khoản này được đăng tải, có nghĩa là Quý khách hàng chấp nhận những thay đổi đó.</p>
                                    <p>Vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.</p>
                                    <p><strong>1. PHẠM VI ÁP DỤNG</strong></p>
                                    <p>Điều khoản giao dịch sẽ được áp dụng cho Quý khách hàng khi mua sản phẩm trên Tìm Hàng Công Nghệ.</p>
                                    <p>Khách hàng phải đảm bảo đủ 16 tuổi trở lên và có tài sản để thực hiện giao dịch, hoặc có sự giám sát của cha mẹ hay người giám hộ hợp pháp.</p>
                                    <p>Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các giao dịch mua bán hàng hóa theo quy định hiện hành của pháp luật Việt Nam.</p>
                                    <p><strong>2. SỬ DỤNG WEBSITE</strong></p>
                                    <p>Tìm Hàng Công Nghệ cho phép khách hàng đăng ký tài khoản để có thể mua sắm trên website trong khuôn khổ đã đề ra.</p>
                                    <p>Quý khách hàng sẽ phải đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu có bất kỳ thay đổi nào. Người dùng phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên website. Ngoài ra, Người dùng phải thông báo cho chúng tôi biết khi tài khoản bị truy cập trái phép. Chúng tôi không chịu bất kỳ trách nhiệm nào, dù trực tiếp hay gián tiếp, đối với những thiệt hại hoặc mất mát gây ra do không tuân thủ quy định.</p>
                                    <p>Nghiêm cấm sử dụng bất kỳ phần nào của webite này với mục đích thương mại hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được chúng tôi cho phép bằng văn bản. Nếu vi phạm bất cứ điều nào trong đây, chúng tôi sẽ ngừng hoạt động tài khoản của Quý khách hàng mà không cần báo trước.</p>
                                    <p>Trong suốt quá trình đăng ký, Quý khách đồng ý nhận email quảng cáo từ Tìm Hàng Công Nghệ. Tuy nhiên, nếu không muốn tiếp tục nhận mail Quý khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo.</p>
                                    <p><strong>3. CHẤP NHẬN ĐƠN HÀNG, GIÁ BÁN, THANH TOÁN</strong></p>
                                    <p>Giá của sản phẩm có thể đã bao gồm hoặc chưa bao gồm thuế giá trị gia tăng. Trong mọi trường hợp, giá của sản phẩm không bao gồm phí vận chuyển. Chi phí vận chuyển được quy định cụ thể tại Vận Chuyển Và Giao Nhận trên website.</p>
                                    <p>Khách hàng thanh toán giá trị của đơn hàng theo quy định tại Hướng Dẫn Thanh Toán đăng tải trên website trước khi nhận sản phẩm.</p>
                                    <p>Chúng tôi cam kết sẽ cung cấp thông tin giá cả chính xác nhất cho người tiêu dùng. Tuy nhiên, đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá sản phẩm không hiển thị chính xác trên trang web hoặc sai giá, tùy theo từng trường hợp chúng tôi sẽ liên hệ hướng dẫn hoặc thông báo hủy đơn hàng đó cho quý khách. Chúng tôi cũng có quyền từ chối hoặc hủy bỏ bất kỳ đơn hàng nào dù đơn hàng đó đã hay chưa được xác nhận hoặc đã thanh toán.</p>
                                    <p><strong>4. GIAO, NHẬN HOẶC ĐỔI TRẢ</strong></p>
                                    <p>Sản phẩm sẽ được giao đến địa chỉ Quý khách hàng yêu cầu theo thời gian quy định tại chính sách vận chuyển và giao nhận hoặc vào thời gian Quý khách hàng yêu cầu được nhận hàng với điều kiện thời gian giao hàng phải phù hợp. Trong trường hợp Quý khách hàng muốn thay đổi địa chỉ nhận sản phẩm thì phải gọi điện thông báo cho Tìm Hàng Công Nghệ.</p>
                                    <p>Việc đổi, trả sản phẩm được thực hiện theo các quy định tại Chính sách đổi trả và hoàn tiền.</p>
                                    <p><strong>5. THAY ĐỔI HOẶC HỦY BỎ GIAO DỊCH</strong></p>
                                    <p>Khách hàng có trách nhiệm cung cấp thông tin đầy đủ và chính xác khi tham gia giao dịch. Trong trường hợp khách hàng nhập sai thông tin, Tìm Hàng Công Nghệ có quyền từ chối tiếp nhận mà không cần thông báo trước.</p>
                                    <p>Trong trường hợp sai thông tin phát sinh từ phía Tìm Hàng Công Nghệ do lỗi của hệ thống hoặc từ bên thứ ba (sai giá sản phẩm, sai xuất xứ,...). Khi đó, Tìm Hàng Công Nghệ sẽ hoàn tiền cho khách hàng theo như quy định tại của chính sách đổi trả và hoàn tiền và không thực hiện giao dịch bị lỗi.</p>
                                    <p><strong>6. BẢO MẬT THÔNG TIN VÀ ĐẢM BẢO AN TOÀN GIAO DỊCH</strong></p>
                                    <p>Chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất nhằm bảo vệ thông tin của quý khách. Quy định về bảo mật thông tin của khách hàng được thực hiện theo chính sách bảo mật thông tin.</p>
                                    <p><strong>7. GIỚI HẠN TRÁCH NHIỆM</strong></p>
                                    <p>Trong mọi trường hợp, Tìm Hàng Công Nghệ không chịu trách nhiệm đối với mọi thiệt hại/mất mát/tổn thất/hư hỏng mà khách hàng phải chịu sau thời điểm rủi ro được chuyển từ Tìm Hàng Công Nghệ sang khách hàng, trừ khi đó là lỗi do Tìm Hàng Công Nghệ gây ra.</p>
                                    <p><strong>8. ĐIỀU KHOẢN CHUNG</strong></p>
                                    <p>Tìm Hàng Công Nghệ và Quý khách hàng có trách nhiệm thực hiện mọi nghĩa vụ quy định tại Điều Khoản Giao Dịch này.</p>
                                    <p>Nếu bất kỳ nội dung nào của các Điều Khoản Giao Dịch này bị bất kỳ cơ quan có thẩm quyền xem là vô hiệu hoặc không thể thực hiện toàn bộ hoặc một phần, thì tính hiệu lực của các nội dung khác trong Điều Khoản Giao Dịch này sẽ không bị ảnh hưởng.</p>
                                    <p>Điều Khoản Giao Dịch và mọi vấn đề phát sinh trong quan hệ hợp đồng giữa Tìm Hàng Công Nghệ và Khách hàng sẽ được hiểu và điều chỉnh theo quy định của luật pháp Việt Nam. Mọi tranh chấp, khác biệt, khiếu nại phát sinh từ/hoặc liên quan đến nội dung của Điều Khoản Giao Dịch này sẽ được giải quyết thông qua thương lượng, hòa giải trên tinh thần thiện chí. Nếu không thể giải quyết, tranh chấp, khiếu nại trên có thể được giải quyết tại cơ quan tòa án có thẩm quyền.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >CÂU HỎI THƯỜNG GẶP</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p><strong>1. Làm thế nào để mua hàng tại Tìm Hàng Công Nghệ?</strong></p>
                                    <p>Vui lòng xem hướng dẫn chi tiết tại Hướng Dẫn Mua Hàng.</p>
                                    <p><strong>2. Tôi có thể hủy đơn hàng đã đặt không?</strong></p>
                                    <p>Trường hợp đơn hàng của bạn chưa được giao, vui lòng thông báo cho Tìm Hàng Công Nghệ theo số điện thoại (028) 3984 7690 để được hỗ trợ.</p>
                                    <p><strong>3. Làm thế nào khi sản phẩm nhận được bị nứt, vỡ, rách, hỏng hóc,...?</strong></p>
                                    <p>Trong trường hợp Quý khách nhận được sản phẩm bị nứt vỡ, rách,... hoặc không vận hành được vui lòng liên hệ ngay với chúng tôi, Chúng tôi sẽ ngay lập tức thay thế sản phẩm khác cho Quý khách.</p>
                                    <p><strong>4. Phí hàng cồng kềnh là gì?</strong></p>
                                    <p>Phí hàng cồng kềnh là chi phí phát sinh khi Quý khách đặt đơn hàng mà trong đó có sản phẩm kích thước lớn. Phí hàng cồng kềnh được tính dựa theo khối lượng/thể tích của thùng hàng sản phẩm với thông tin được quy định chi tiết tại Chính sách vận chuyển và giao nhận.</p>
                                    <p><strong>5. Làm thế nào khi sản phẩm của tôi cần được bảo hành?</strong></p>
                                    <p>Quý khách vui lòng liên hệ trực tiếp với địa chỉ bảo hành gần nhất in trên phiếu bảo hành. Hoặc thông báo cho chúng tôi theo số điện thoại (028) 3984 7690 hay địa chỉ email kinhdoanh@hoangkhang.com.vn để được hỗ trợ kịp thời.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'frontend/modules/slogan_guide' %>
        </div>
    </main>
</div>