<% title @page_title.html_safe %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">Chính Sách Bảo Mật Thông Tin Khách Hàng</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top1 vc_custom_1612369362708 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;color:#fff;line-height:1;text-align:center" class="vc_custom_heading vc_custom_1612368327480" >
                                Chính Sách Bảo Mật Thông Tin Khách Hàng
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Bảo mật thông tin khách hàng là một trong những ưu tiên nhằm tạo điều kiện mua hàng trực tuyến tốt nhất tại Tìm Hàng Công Nghệ. Chúng tôi cam kết việc sử dụng thông tin khách hàng chỉ nhằm nâng cao chất lượng dịch vụ khách hàng, tạo môi trường mua sắm trực tuyến an toàn và tiện lợi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Mục Đích Và Phạm Vi Thu Thập</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Nhằm đảm bảo quyền lợi cho Quý khách hàng dể dàng truy cập và mua sắm trực tuyến tại Tìm Hàng Công Nghệ, Quý khách hàng sẽ phải cung cấp bổ sung thông tin cá nhân. Mọi thông tin khai báo phải đảm bảo tính chính xác, hợp pháp.</p>
                                    <p>Tìm Hàng Công Nghệ sẽ không chịu trách nhiệm liên quan đến pháp luật đối với thông tin mà bạn khai báo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Sử Dụng Thông Tin Cá Nhân</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Tìm Hàng Công Nghệ thu thập, sử dụng thông tin cá nhân Quý khách hàng với mục đích phù hợp và hoàn toàn tuân thủ nội dung của "Chính Sách Bảo Mật Thông Tin Khách Hàng".</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'frontend/modules/slogan_guide' %>
        </div>
    </main>
</div>