<% title @page_title.html_safe %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">Chính Sách Vận Chuyển</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top1 vc_custom_1612369362708 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;color:#fff;line-height:1;text-align:center" class="vc_custom_heading vc_custom_1612368327480" >
                                Chính Sách Vận Chuyển
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Điều Kiện Áp Dụng</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Được áp dụng cho toàn bộ các sản phẩm Quý khách hàng mua tại Tìm Hàng Công Nghệ.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Nội Dung Chính Sách</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Sau khi Quý khách hàng hoàn tất việc đặt hàng, Tìm Hàng Công Nghệ liên hệ để xác nhận thông tin đơn hàng, thông báo hình thức thanh toán, thời gian giao hàng hoặc phát sinh (nếu có).</p>
                                    <p>Hoàn tiền 100% nếu hàng hóa bị thất lạc hoặc hư hỏng trong quá trình vận chuyển.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Trách Nhiệm Hàng Hóa</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Tìm Hàng Công Nghệ chịu toàn bộ trách nhiệm các rủi ro như mất mát, hư hại trong suốt quá trình vận chuyển. Vì thế, Quý khách hàng vui lòng kiểm lại hàng hóa trước khi ký nhận. Sau khi Quý khách hàng ký nhận, những trường hợp sau đó như: hư hỏng, trầy xước, bể vỡ, móp méo, sai hàng hóa Tìm Hàng Công Nghệ sẽ không chịu trách nhiệm.</p>
                                    <p>Tìm Hàng Công Nghệ cam kết tất cả hàng hóa đến tay Quý khách hàng đều là hàng chính hãng mới 100% (Có đầy đủ hóa đơn/chứng từ, chế độ bảo hành chính hãng).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Điều Kiện Khác</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Nếu địa chỉ giao hàng nằm trong ngõ ngách hoặc những nơi nguy hiểm (vùng đồi núi hiểm trở, phương tiện giao thông đi lại khó khăn), Tìm Hàng Công Nghệ sẽ chủ động liên lạc với Quý khách hàng để thống nhất lại địa điểm giao, nhận hàng hóa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'frontend/modules/slogan_guide' %>
        </div>
    </main>
</div>