<% title @page_title.html_safe %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">Chính Sách Bảo Hành</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top1 vc_custom_1612369362708 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;color:#fff;line-height:1;text-align:center" class="vc_custom_heading vc_custom_1612368327480" >
                                Chính Sách Bảo Hành
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Điều Kiện Bảo Hành</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <h4 style="font-size:16px"><strong>1. Sản Phẩm Được Miễn Phí Bảo Hành</strong></h4>
                                    <p>- Sản phẩm thuộc danh mục được bảo hành từ Nhà Sản Xuất hoặc Nhà Phân Phối.</p>
                                    <p>- Sản phẩm bị lỗi kỹ thuật từ Nhà Sản Xuất.</p>
                                    <p>- Thời hạn bảo hành sản phẩm còn hiệu lực.</p>
                                    <p>- Phiếu bảo hành còn nguyên vẹn, không chắp vá, tẩy xóa.</p>
                                    <p>- Phiếu bảo hành còn đầy đủ thông tin có thể đọc được (Mã sản phẩm, số Seri, ngày mua, tên khách hàng,...)</p>
                                    <p>- Tem bảo hành và tem niêm phong (nếu có) còn nguyên vẹn.</p>
                                    <h4 style="font-size:16px"><strong>2. Sản Phẩm Không Được Miễn Phí Bảo Hành Hoặc Sửa Chữa Có Tính Phí</strong></h4>
                                    <p>- Sản phẩm không thuộc danh mục được bảo hành từ Nhà Sản Xuất hoặc Nhà Phân Phối.</p>
                                    <p>- Sản phẩm không thỏa mãn một trong những điều kiện bảo hành ở mục 1.</p>
                                    <p>- Số Series hoặc sản phẩm không khớp với phiếu bảo hành, hóa đơn mua hàng.</p>
                                    <p>- Khách hàng tự ý sửa chữa sản phẩm hoặc sửa chữa tại những trung tâm bảo hành không được sự ủy nhiệm của Nhà Sản Xuất.</p>
                                    <p>- Sản phẩm bị hư hỏng do lỗi người sử dụng và hư hỏng không nằm trong phạm vi bảo hành của Nhà Sản Xuất.</p>
                                    <p>- Với trường hợp phát sinh phí bảo hành, Nhân viên Tìm Hàng Công Nghệ sẽ tư vấn đầy đủ thông tin cho khách hàng trước khi tiến hành sửa chữa.</p>
                                    <h4 style="font-size:16px"><strong>3. Thời Hạn Bảo Hành</strong></h4>
                                    <p>Thời hạn bảo hành được tính kể từ ngày mua hàng hoặc kể từ ngày sản xuất tùy thuộc từng loại sản phẩm được quy định rõ trên phiếu bảo hành. Đối với sản phẩm bảo hành điện tử, thời hạn bảo hành được tính từ thời điểm kích hoạt bảo hành điện tử.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Áp Dụng Bảo Hành</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <h4 style="font-size:16px"><strong>1. Địa Điểm Áp Dụng Bảo Hành</strong></h4>
                                    <p>- Địa điểm bảo hành được ghi trong phiếu bảo hành kèm theo sản phẩm. Quý khách vui lòng liên hệ trực tiếp với Trung tâm Bảo hành của Nhà Cung Cấp hoặc Nhà Phân Phối theo thông tin trong phiếu bảo hành.</p>
                                    <p>- Tìm Hàng Công Nghệ sẽ hỗ trợ hướng dẫn Quý khách hàng phương thức đến các trung tâm bảo hành được ủy nhiệm của Nhà Sản Xuất hoặc Nhà Phân Phối. Mọi thông tin liên hệ sẽ được ghi trên phiếu giao hàng hoặc hóa đơn mua hàng.</p>
                                    <p>- Nếu Quý khách hàng gặp khó khăn trong việc liên hệ Trung Tâm Bảo hành, Quý khách hàng vui lòng liên hệ Tìm Hàng Công Nghệ theo địa chỉ mail kinhdoanh@hoangkhang.com.vn hoặc số hotline (028) 3984 7690 để được hỗ trợ.</p>
                                    <h4 style="font-size:16px"><strong>2. Thời Gian Thực Hiện Bảo Hành</strong></h4>
                                    <p>- Trong mọi trường hợp, thời gian thực hiện bảo hành sản phẩm phụ thuộc vào chính sách và/hoặc mức độ sẵn có của thiết bị/sản phẩm thay thế tại Trung Tâm Bảo Hành và sẽ được thông báo cụ thể cho Quý khách hàng vào thời điểm Trung Tâm Bảo Hành nhận sản phẩm để bảo hành trong trường hợp quý khách tự đem sản phẩm đến Trung Tâm Bảo Hành. Hoặc ngay khi Tìm Hàng Công Nghệ nhận được thông báo về thời gian bảo hành trong trường hợp quý khách thực hiện việc bảo hành sản phẩm tại Tìm Hàng Công Nghệ.</p>
                                    <p>- Trong mọi trường hợp, Tìm Hàng Công Nghệ không chịu trách nhiệm về bất kỳ thiệt hại, mất mát nào xảy ra nếu Quý khách hàng không thực hiện theo Chính Sách Bảo Hành này.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'frontend/modules/slogan_guide' %>
        </div>
    </main>
</div>