<% title "Đặt Hàng Nhanh" %>
<div class="main-container container" onmouseout="loadTopCart();">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, erp_online_store.root_path %></li>
        <li><%= link_to "Đặt Hàng Nhanh", "javascript:void(0)" %></li>
    </ul>
    <div class="row">
        <%= render "/erp/online_store/frontend/modules/quick_order/form_order" %>
        <script>
            loadTopCart(function(){});
        </script>
        <!--Middle Part End -->
    </div>
</div>
