<% title "Đặt Hàng Nhanh" %>
<div class="main-container container" onmouseout="loadTopCart();">
    <div class="row">
        <%= render "/erp/online_store/frontend/modules/quick_order/form_order" %>
        <script>
            loadTopCart(function(){});
        </script>
    </div>
</div>
