<div class="bannercontainer">
  <div class="banner ">
    <ul>                        
      <li data-transition="curtain-3" data-slotamount="1">
        <img src="/frontend/products-marketing/img/xa-kho-hang-ton-laptop-dell-lattude-3480.png" alt="" />
        <div 
          class="caption lft " 
          data-x="center"
          data-y="bottom"
          data-speed="1000"
          data-start="500"
          data-easing="easeOutBack" >
        </div>                                 
      </li>

      <li data-transition="curtain-3" data-slotamount="1">
        <img src="/frontend/products-marketing/img/xa-kho-hang-ton-may-tinh-de-ban.png" alt="" />
        <div 
          class="caption lft " 
          data-x="center"
          data-y="bottom"
          data-speed="1000"
          data-start="500"
          data-easing="easeOutBack" >
        </div>  
      </li> 

      <li data-transition="curtain-3" data-slotamount="1">
        <img src="/frontend/products-marketing/img/xa-kho-hang-ton-man-hinh-may-tinh.png" alt="" />
        <div 
          class="caption lft " 
          data-x="center"
          data-y="bottom"
          data-speed="1000"
          data-start="500"
          data-easing="easeOutBack" >
        </div>                                    
      </li>

      <li data-transition="curtain-3" data-slotamount="1">
        <img src="/frontend/products-marketing/img/xa-kho-hang-ton-may-in.png" alt="" />
        <div 
          class="caption lft " 
          data-x="center"
          data-y="bottom"
          data-speed="1000"
          data-start="500"
          data-easing="easeOutBack" >
        </div>                                    
      </li>
    </ul>
  </div>
</div>