<div class="gap"></div>
<div class="slider-item-sm" style="background-color:#E66514;">
    <div class="container">
        <div class="slider-item-inner">
            <div class="slider-item-caption-left slider-item-caption-white">
                <h4 class="slider-item-caption-title">Điện thoại thế hệ mới nhất</h4>
                <p class="slider-item-caption-desc">It's Smartphone Time.</p><a class="btn btn-lg btn-ghost btn-white" href="#">Mua ngay</a>
            </div>
            <img class="slider-item-img" src="/frontend/online_ordering/img/test_slider/7.png" alt="Image Alternative text" title="Image Title" style="right: 0; bottom: 0; width: 22%;" />
        </div>
    </div>
</div>