<% if @product.accessory.present? %>
    <% if @product.accessory.accessory_details.count > 0 %>
        <div class="related upsell titleLine products-list grid module ">                            
            <%= render "/erp/online_store/frontend/modules/product/accessories", accessory: @product.accessory %>
        </div>
    <% end %>
<% end %>
<% if Erp::Products::Product.limit_deal_products.count > 0 %>
    <div class="related upsell titleLine products-list grid module ">    
        <%= render "/erp/online_store/frontend/modules/product/deal_products" %>
    </div>
<% end %>