<div class="footer-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Bản quyền &copy; 2008 ~ 2020 <%= link_to 'Tìm Hàng Công Nghệ', erp_online_store.root_path, target: '_blank', title: 'Tìm Hàng Công Nghệ là đơn vị cung cấp các sản phẩm, dịch vụ thuộc lĩnh vực Công Nghệ Thông Tin do Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang phụ trách và phát triển.' %>.
                Đơn vị chủ quản: <strong><%= link_to 'Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang', '//hoangkhang.com.vn/', title: 'Công Ty TNHH Giải Pháp CNTT Và Truyền Thông Hoàng Khang', target: '_blank' %></strong>.<br>
                GPĐKKD số 0306146736 do Sở KH&ĐT TP. Hồ Chí Minh cấp lần đầu ngày 06/08/2008.
            </div>
            <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
        </div>
    </div>
</div>