<div class="footer-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Bản quyền &copy; 2008 ~ 2019 <%= link_to "TIMHANGCONGNGHE.COM", erp_online_store.root_path, target: "_blank", title: "Tìm Hàng Công Nghệ - Trang thương mại điện tử sản phẩm công nghệ chất lượng, uy tín." %>.
                Đơn vị chủ quản: <strong>Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang</strong><br>
                GPĐKKD số 0306146736 do Sở KH&ĐT TPHCM cấp lần đầu ngày 06/08/2008.
            </div>
            <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
        </div>
    </div>
</div>