<h3 class="modtitle"><span>Đang khuyến mãi</span></h3>
<div class="upsell-products">
    <% (0..7).each do |upsell_product| %>
    <div class="product-layout">
        <div class="product-item-container">
            <div class="left-block">
                <div class="product-image-container second_img ">
                    <%= image_tag "/frontend/image/shop/product/e11.jpg", title: "", alt: "", class: "img-1 img-responsive" %>
                    <%= image_tag "/frontend/image/shop/product/e12.jpg", title: "", alt: "", class: "img-2 img-responsive" %>
                </div>
                <!--Sale Label-->
                <span class="label label-sale">Giảm giá</span>
            </div>
            <div class="right-block">
                <div class="caption">
                    <h4><%= link_to "Apple Cinema 30&quot;", erp_online_store.product_detail_path %></h4>
                    <div class="ratings">
                        <div class="rating-box">
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                        </div>
                    </div>
                    <div class="price">
                        <span class="price-new">$74.00</span>
                        <span class="price-old">$122.00</span>
                        <span class="label label-percent">-40%</span>
                    </div>
                    <div class="description item-desc hidden">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l..</p>
                    </div>
                </div>
            </div>
            <!-- right block -->
        </div>
    </div>
    <% end %>
</div>