<div class="header-top compact-hidden">
    <div class="container">
        <div class="row">
            <div class="header-top-left  col-lg-4  hidden-sm col-md-5 hidden-xs">
                <ul class="list-inlines">
                    <li class="hidden-xs">
                        <div class="welcome-msg">
                            <ul class="list-msg">
                                <% Erp::Articles::Article.newest_articles(3).each do |blog| %>
                                    <li>
                                        <label class="label-msg"><%= blog.created_at.strftime("%d/%m/%Y") %></label>
                                        <%= link_to truncate(blog.name, length: 45),
                                            erp_online_store.blog_detail_path(blog.id, url_friendly(blog.name)
                                        ) %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-top-right collapsed-block col-lg-8 col-sm-12 col-md-7 col-xs-12 ">
                <h5 class="tabBlockTitle visible-xs">More<a class="expander " href="#TabBlock-1"><i class="fa fa-angle-down"></i></a></h5>
                <div class="tabBlock top-right-menu" id="TabBlock-1" data-url="<%= erp_online_store.top_right_menu_path %>">
                    <%= render 'erp/online_store/frontend/modules/header/top_right_menu' %>
                </div>
            </div>
        </div>
    </div>
</div>