<div class="header-top compact-hidden">
    <div class="container">
        <div class="row">
            <div class="header-top-left  col-lg-4  hidden-sm col-md-5 hidden-xs"></div>
            <div class="header-top-right collapsed-block col-lg-8 col-sm-12 col-md-7 col-xs-12 ">
                <span class="blockTitle tabBlockTitle visible-xs">
                    Thông Tin <a class="expander " href="#TabBlock-1" rel="nofollow" title="Thông Tin"><i class="fa fa-angle-down"></i></a>
                </span>
                <div class="tabBlock top-right-menu" id="TabBlock-1" rel="nofollow" title="Thông Tin" data-url="<%= erp_online_store.top_right_menu_path %>">
                    <%= render 'erp/online_store/frontend/modules/header/top_right_menu' %>
                </div>
            </div>
        </div>
    </div>
</div>