Chào bạn,
<p>Hộp thư 'Liên Hệ & Góp Ý' vừa nhận được một tin nhắn với nội dung bên dưới:</p>
<p>
    Người liên hệ: <%= @msg.contact.name %><br />
    Số điện thoại: <%= @msg.contact.phone %><br />
    Địa chỉ email: <%= @msg.contact.email %><br />
    Lời nhắn: <%= @msg.message %>
</p>
<p>Vui lòng xử lý nội dung trên và phản hồi sớm đến người đã liên hệ.</p>
<p>Trân trọng,<br/>
Tìm Hàng Công Nghệ
</p>
<p style="color: #999;font-size: 12px;">
    <i>
        *Đây là thư tự động, vui lòng không trả lời thư này!
    </i>
</p>