<% title @page_title.html_safe %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">Giới Thiệu</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-fullwide-row">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class=" wpisset_ele_es_banner6 wpisset_ele_es_banner6-603667244 vc_custom_1610709651580">
                                <div class="wpisset-ele-es-banner6">
                                    <div class="wpisset-ele-es-banner6-bg">
                                        <div class="wpisset-ele-es-banner6-imgs">
                                            <%= image_tag '/img/about-us/banner.jpg', alt: '', title: '' %>
                                        </div>
                                    </div>
                                    <div class="wpisset-ele-es-banner6-container"></div>
                                    <a href="" class="wpisset-ele-es-banner6-label wpisset-ele-es-banner6-video">
                                        <span class="wpisset-ele-es-banner6-label-wrap">
                                            <span class="wpisset-ele-es-banner6-label-inner">
                                            <span class="wpisset-ele-es-banner6-label-chars-holder">
                                                <span class="wpisset-ele-es-banner6-label-chars">
                                                    <span class="wpisset-ele-es-banner6-label-char">G</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">I</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">Ớ</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">I</span>
                                                    <span class="wpisset-ele-es-banner6-label-char"> </span>
                                                    <span class="wpisset-ele-es-banner6-label-char">T</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">H</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">I</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">Ệ</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">U</span>
                                                    <span class="wpisset-ele-es-banner6-label-char"> </span>
                                                    <span class="wpisset-ele-es-banner6-label-char">V</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">Ề</span>
                                                    <span class="wpisset-ele-es-banner6-label-char"> </span>
                                                    <span class="wpisset-ele-es-banner6-label-char">T</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">Ì</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">M</span>
                                                    <span class="wpisset-ele-es-banner6-label-char"> </span>
                                                    <span class="wpisset-ele-es-banner6-label-char">H</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">À</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">N</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">G</span>
                                                    <span class="wpisset-ele-es-banner6-label-char"> </span>
                                                    <span class="wpisset-ele-es-banner6-label-char">C</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">Ô</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">N</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">G</span>
                                                    <span class="wpisset-ele-es-banner6-label-char"> </span>
                                                    <span class="wpisset-ele-es-banner6-label-char">N</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">G</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">H</span>
                                                    <span class="wpisset-ele-es-banner6-label-char">Ệ</span>
                                                    <span class="wpisset-ele-es-banner6-label-char"> </span>
                                                </span>
                                            </span>
                                            <span class="wpisset-ele-es-banner6-label-icon">
                                                <%= image_tag '/img/about-us/icons/play.png', alt: '', title: '' %>
                                            </span>
                                        </span>
                                    </span>
                                    </a> 
                                </div>
                            </div>
                            <svg class="wpssiet-es-cs"><style>.wpisset_ele_es_banner6-603667244 .wpisset-ele-es-banner6-container{min-height:550px;}</style></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein vc_custom_1612958427460">
                <div class="wpb_column vc_column_container vc_col-sm-2 vc_hidden-sm vc_hidden-xs"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><p><span class="wpisset-custom-title" style="color:#181c32;font-size:24px;font-weight:400;line-height:1.2">Giới Thiệu Chung</span></p></div></div>
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap text-justify">
                                <div class="wpb_wrapper">
                                    <p>Tìm Hàng Công Nghệ là trang thương mại điện tử do Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang (Tên gọi tắt: Hoang Khang Incotech) đầu tư, quản lý và phát triển thương hiệu.</p>
                                    <p>Công ty Hoang Khang Incotech tiền thân là một cửa hàng thiết bị chuyên cung cấp các sản phẩm công nghệ thông tin (CNTT). Qua thời gian hoạt động, Công ty đã nhận được nhiều sự tín nhiệm của các đơn vị tổ chức trong nước, ngoài nước và các tổ chức phi chính phủ sau khi hoàn thành các công trình, dự án.</p>
                                    <p>Với mong muốn khẳng định là một nhà tích hợp hệ thống uy tín, năm 2008 Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang được thành lập theo tiêu chí: Cung cấp cho khách hàng các giải pháp ứng dụng, dịch vụ đầu cuối liên quan đến CNTT và truyền thông theo hướng chuyên nghiệp, chất lượng và tận tâm.</p>
                                    <p>Từ 2008 đến nay, Hoang Khang Incotech được nhiều khách hàng đánh giá cao khả năng hợp tác và làm việc thông qua các dự án CNTT và truyền thông. Khảo sát và tư vấn lập đề án theo yêu cầu khách hàng.</p>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><p><span class="wpisset-custom-title" style="color:#181c32;font-size:24px;font-weight:400;line-height:1.2">Sứ Mệnh & Tầm Nhìn</span></p></div></div>
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap text-justify">
                                <div class="wpb_wrapper">
                                    <p>Hoang Khang Incotech cùng khách hàng ứng dụng CNTT và truyền thông vào hoạt động kinh doanh, đời sống để mang lại hiệu quả cao nhất, góp phần phát triển bền vững và thịnh vượng.</p>
                                    <p style="color:#fd7e14;font-style:italic;font-weight:bold;">"Trở thành nhà cung cấp giải pháp và dịch vụ chuyên nghiệp hàng đầu tại Việt Nam thông qua việc mang công nghệ tiên tiến có chọn lọc trên thế giới vào thị trường Việt Nam. Giúp khách hàng thỏa mãn nhu cầu khai thác ứng dụng công nghệ hiệu quả, đem lại giá trị tối đa và gia tăng cơ hội phát triển vươn tầm thế giới."</p>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><p><span class="wpisset-custom-title" style="color:#181c32;font-size:24px;font-weight:400;line-height:1.2">Giá Trị Cốt Lõi</span></p></div></div>
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap text-justify">
                                <div class="wpb_wrapper">
                                    <p>Giá trị cốt lõi của công ty chúng tôi kà chữ <strong>"TÂM"</strong> trong hoạt động kinh doanh:</p>
                                    <p> - Vì khách hàng: Chúng tôi mang đến giải pháp toàn diện với phương châm "Sản phẩm chất lượng, công nghệ đổi mới, dịch vụ uy tín, nhân lực giỏi chuyên môn và tận tâm phục vụ".</p>
                                    <p> - Vì cộng đồng: Chung tay góp sức tham gia công tác xã hội, chú trọng an sinh phát triển bền vững.</p>
                                    <p> - Vì tổ chức: Chúng tôi là một tập thể đoàn kết, cùng phát triển.</p>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><p><span class="wpisset-custom-title" style="color:#181c32;font-size:24px;font-weight:400;line-height:1.2">Cơ Cấu Tổ Chức</span></p></div></div>
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap text-justify"><div class="wpb_wrapper"><p></p></div></div>
                            <div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><p><span class="wpisset-custom-title" style="color:#181c32;font-size:24px;font-weight:400;line-height:1.2">Hành Trình Phát Triển</span></p></div></div>
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap text-justify">
                                <div class="wpb_wrapper">
                                    <p>Tháng 11/2008: Thành lập công ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang.</p>
                                    <p>Năm 2010:</p>
                                    <p> - Cung cấp lắp đặt mạng nội bộ các trụ sở BHXH (Bảo Hiểm Xã Hội TP. Hồ Chí Minh).</p>
                                    <p> - Tham gia tư vấn thiết kế thi công, lập dự toán hạng mục CNTT. Thuộc dự án Xây dựng mở rộng Bệnh viện Răng Hàm Mặt Trung Ương TP. Hồ Chí Minh.</p>
                                    <p>Tháng 07/2012: Bổ sung thành viên góp vốn. Tăng vốn đăng ký hoạt động kinh doanh.</p>
                                    <p>Tháng 06/2017: Ra mắt website thương mại điện tử Tìm Hàng Công Nghệ (timhangcongnghe.com)</p>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element "><div class="wpb_wrapper"><p><span class="wpisset-custom-title" style="color:#181c32;font-size:24px;font-weight:400;line-height:1.2">Lĩnh Vực Kinh Doanh</span></p></div></div>
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap text-justify">
                                <div class="wpb_wrapper">
                                    <p>Cung cấp các sản phẩm tin học như: Máy tính xách tay, laptop; Máy tính để bàn; Máy chủ, server; Máy tính trạm, workstation và các thiết bị ứng dụng, thiết bị ngoại vi khác.</p>
                                    <p>Cung cấp các phần mềm cài đặt hệ điều hành, ứng dụng, đồ họa, thiết kế, quản lý từ các hãng lớn trên thế giới.</p>
                                    <p>Cung cấp các giải pháp dành cho doanh nghiệp như: Thiết bị mạng, hội nghị truyền hình, màn hình tương tác, giải pháp phòng họp, giải pháp tổng đài,...</p>
                                    <p>Thiết kế và xây dựng giải pháp tổng thể (Hệ thống mạng LAN, WAN; Hệ thống camera giám sát; Hệ thống kiểm soát an ninh, máy chấm công, kiểm soát ra vào; Hệ thống màn hình quảng cáo...)</p>
                                    <p>Dịch vụ bảo hành, bảo trì, thi công, lắp đặt, di dời thiết bị tận nơi, tất cả cả các ngày trong tuần.</p>
                                    <p>Tư vấn và đào tạo cho khách hàng về sản phẩm.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'frontend/modules/slogan_guide' %>
        </div>
    </main>
</div>