<% title @page_title.html_safe %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">In Hóa Đơn Điện Tử</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top1 vc_custom_1612369362708 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;color:#fff;line-height:1;text-align:center" class="vc_custom_heading vc_custom_1612368327480" >
                                In Hóa Đơn Điện Tử
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Đang cập nhật dữ liệu...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'frontend/modules/slogan_guide' %>
        </div>
    </main>
</div>