<header id="bt-header" class="bt-header affix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <strong class="bt-logo">
                    <%= link_to image_tag("/frontend/business-template/images/logo.png", alt: ""), erp_online_store.business_page_path, title: "" %>
                </strong>
                <nav id="bt-nav" class="bt-nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bt-navigation" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="bt-navigation" class="collapse navbar-collapse bt-navigation">
                        <ul>
                            <li><a href="#bt-home">Trang Chủ</a></li>
                            <li><a href="#bt-services">Dịch Vụ</a></li>
                            <li><a href="#bt-projects">Lĩnh Vực Hoạt Động</a></li>
                            <li><a href="#bt-aboutpowax">Giới Thiệu</a></li>
                            <li><a href="#bt-creativeteam">Đội Ngũ</a></li>
                            <li><a href="#bt-news">Our Publication</a></li>
                            <li><a href="#bt-contactus">Liên hệ</a></li>
                            <li>
                                <a href="javascript:void(0);" class="hamburger is-closed" data-toggle="offcanvas">
                                    <img src="/frontend/business-template/images/icons/icon-01.png" alt="image description">
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>