<div id="bt-homeslider" class="bt-homeslider bt-haslayout">
    <div class="item">
        <figure>
            <img src="/frontend/business-template/images/sliderimg/img-01.jpg" alt="image description">
            <figcaption>
                <h1>We’re a small <span>Interactive Agency</span> Based in <em>Brooklyn, NY</em></h1>
            </figcaption>
        </figure>
    </div>
    <div class="item">
        <figure>
            <img src="/frontend/business-template/images/sliderimg/img-02.jpg" alt="image description">
            <figcaption>
                <h1>We’re a small <span>Interactive Agency</span> Based in <em>Brooklyn, NY</em></h1>
            </figcaption>
        </figure>
    </div>
    <div class="item">
        <figure>
            <img src="/frontend/business-template/images/sliderimg/img-03.jpg" alt="image description">
            <figcaption>
                <h1>We’re a small <span>Interactive Agency</span> Based in <em>Brooklyn, NY</em></h1>
            </figcaption>
        </figure>
    </div>
</div>