<div class="bt-sidenavigation">
    <a href="javascript:void(0);" class="hamburger is-closed" data-toggle="offcanvas"><span class="icon-close3"></span></a>
    <div class="bt-navigation bt-navigationthree navbar-collapse">
        <ul>
            <li><a href="#bt-home">HOME</a></li>
            <li><a href="#bt-services">services</a></li>
            <li><a href="#bt-projects">portfolio</a></li>
            <li><a href="#bt-aboutpowax">about us</a></li>
            <li><a href="#bt-creativeteam">Team</a></li>
            <li class="menu-item-has-children">
                <a href="#bt-news">news</a>
                <ul>
                    <li><a class="external" href="news.html" target="_self">News One</a></li>
                    <li><a class="external" href="newsv2.html" target="_self">News Two</a></li>
                    <li><a class="external" href="newsdetail.html" target="_self">news Detail</a></li>
                </ul>
            </li>
            <li><a href="#bt-contactus">contact us</a></li>
        </ul>
    </div>
    <div class="bt-widgetofficeenvorn">
        <h3>Office Envorn</h3>
        <div class="bt-description">
            <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients modernisation.</p>
        </div>
        <ul>
            <li>
                <figure>
                    <img src="frontend/business-template/images/thumbnails/img-03.jpg" alt="image description">
                    <figcaption><a class="fa fa-eye " href="#"></a></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="frontend/business-template/images/thumbnails/img-03.jpg" alt="image description">
                    <figcaption><a class="fa fa-eye " href="#"></a></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="frontend/business-template/images/thumbnails/img-03.jpg" alt="image description">
                    <figcaption><a class="fa fa-eye " href="#"></a></figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="frontend/business-template/images/thumbnails/img-03.jpg" alt="image description">
                    <figcaption><a class="fa fa-eye " href="#"></a></figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <div class="bt-widgetrecentposts">
        <h3>Recent News</h3>
        <ul>
            <li>
                <figure><a href="#"><img src="frontend/business-template/images/thumbnails/img-04.jpg" alt="image description"></a></figure>
                <div class="bt-recenpostcontent">
                    <h4><a href="#">Familiar Idea With Brand</a></h4>
                    <time datetime="2016-10-10">August 24, 2016</time>
                </div>
            </li>
            <li>
                <figure><a href="#"><img src="frontend/business-template/images/thumbnails/img-05.jpg" alt="image description"></a></figure>
                <div class="bt-recenpostcontent">
                    <h4><a href="#">Familiar Idea With Brand</a></h4>
                    <time datetime="2016-10-10">August 24, 2016</time>
                </div>
            </li>
            <li>
                <figure><a href="#"><img src="frontend/business-template/images/thumbnails/img-04.jpg" alt="image description"></a></figure>
                <div class="bt-recenpostcontent">
                    <h4><a href="#">Familiar Idea With Brand</a></h4>
                    <time datetime="2016-10-10">August 24, 2016</time>
                </div>
            </li>
        </ul>
    </div>
    <ul class="bt-socialicons">
        <li><a href="#"><i class="icon-facebook-1"></i></a></li>
        <li><a href="#"><i class="icon-twitter-1"></i></a></li>
        <li><a href="#"><i class="icon-google"></i></a></li>
        <li><a href="#"><i class="icon-behance"></i></a></li>
        <li><a href="#"><i class="icon-instagram2"></i></a></li>
    </ul>
</div>