<main id="bt-main" class="bt-main bt-haslayout">
  <!--************************************
      Services Start
  *************************************-->
  <section id="bt-services" class="bt-sectionpadding bt-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="bt-fullheading">
            <h2><strong>We designing,</strong> web, mobile applications, UX/UI, branding and more</h2>
          </div>
        </div>
        <div class="bt-services">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="bt-service">
              <div class="bt-serviceicon">
                <span class="icon-hotairballoon"></span>
              </div>
              <div class="bt-servicetitle">
                <h3>Web Design</h3>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
              <ul class="bt-servicetype">
                <li>Web Design</li>
                <li>Design for Mobile</li>
                <li>Branding and Identity</li>
                <li>Print Design</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="bt-service">
              <div class="bt-serviceicon">
                <span class="icon-browser"></span>
              </div>
              <div class="bt-servicetitle">
                <h3>Web Development</h3>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
              <ul class="bt-servicetype">
                <li>HTML5 &amp; CSS3</li>
                <li>WordPress &amp; Drupal</li>
                <li>Application</li>
                <li>PHP, MySQL</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="bt-service">
              <div class="bt-serviceicon">
                <span class="icon-bike"></span>
              </div>
              <div class="bt-servicetitle">
                <h3>Creative Art</h3>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
              <ul class="bt-servicetype">
                <li>Video Editor</li>
                <li>Print Media</li>
                <li>Creative Flow Work</li>
                <li>Print Design</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Services End
  *************************************-->
  <!--************************************
      We Are Creative Start
  *************************************-->
  <section class="bt-sectionpadding bt-haslayout bt-alphabet">
    <div class="container">
      <div class="row">
        <div class="bt-wearecreative">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bt-verticalmiddle">
            <div class="bt-textshortcode">
              <div class="bt-fullheading">
                <span>We’re creative</span>
                <h2>Dream big &amp; make it happen</h2>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our modernisation of web development all around world.</p>
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
              <a class="bt-btn bt-btnred" href="#">View more</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bt-verticalmiddle">
            <div class="bt-videoshortcode">
              <figure>
                <img src="frontend/business-template/images/img-01.jpg" alt="image description">
                <a class="bt-btnplay bt-btnplayred" href="https://www.youtube.com/watch?v=TpMJ2XlzO-0" data-rel="prettyPhoto[iframe]"><i class="fa fa-play"></i></a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      We Are Creative End
  *************************************-->
  <!--************************************
      Services Start
  *************************************-->
  <section class="bt-sectionpadding bt-paddbottomzero bt-haslayout">
    <div class="container">
      <div class="row">
        <div class="bt-services bt-allservices">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="bt-service">
              <div class="bt-servicetitle">
                <h3><a href="#">Brand Indentity</a></h3>
                <h4>Making a New You</h4>
                <div class="bt-serviceicon">
                  <span class="icon-tools"></span>
                </div>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="bt-service">
              <div class="bt-servicetitle">
                <h3><a href="#">Web Development</a></h3>
                <h4>Crafting With Love</h4>
                <div class="bt-serviceicon">
                  <span class="icon-beaker"></span>
                </div>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="bt-service">
              <div class="bt-servicetitle">
                <h3><a href="#">Web Design</a></h3>
                <h4>Crafting With Love</h4>
                <div class="bt-serviceicon">
                  <span class="icon-lightbulb"></span>
                </div>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="bt-service">
              <div class="bt-servicetitle">
                <h3><a href="#">Modern Coding</a></h3>
                <h4>Crafting With Love</h4>
                <div class="bt-serviceicon">
                  <span class="icon-target"></span>
                </div>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="bt-service">
              <div class="bt-servicetitle">
                <h3><a href="#">Design Agency</a></h3>
                <h4>#1 Design Studios</h4>
                <div class="bt-serviceicon">
                  <span class="icon-trophy"></span>
                </div>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="bt-service">
              <div class="bt-servicetitle">
                <h3><a href="#">24/7 Live Support</a></h3>
                <h4>Free Support</h4>
                <div class="bt-serviceicon">
                  <span class="icon-alarmclock"></span>
                </div>
              </div>
              <div class="bt-description">
                <p>We create web productions for our clients and we promote the modernisation of web development all around world.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Services End
  *************************************-->
  <!--************************************
      Projects Start
  *************************************-->
  <section id="bt-projects" class="bt-sectionpadding bt-paddbottomzero bt-haslayout">
    <div class="container-fluid">
      <div class="row">
        <div class="bt-projects">
          <div class="bt-textshortcode bt-projectthreecolumns">
            <figure><img src="frontend/business-template/images/projects/img-01.jpg" alt="image description"></figure>
            <div class="bt-box">
              <div class="bt-fullheading">
                <span>Our Work</span>
                <h2>Latest Projects</h2>
              </div>
              <div class="bt-description">
                <p>Powax is an award winning creative design agency building apps and experiences for the web Omnis.</p>
                <p>iste natus sit voluptatem accusantium doloremque laudantium, onepage, creative, simple, totam rem aperiam.perspiciatis one page omnis iste. Creative Theme for Creative People.</p>
              </div>
              <a class="bt-btn" href="#">View all work</a>
            </div>
          </div>
          <div class="bt-project bt-projectthreecolumns">
            <figure class="bt-projectimg">
              <img src="frontend/business-template/images/projects/img-01.jpg" alt="image description">
              <figcaption class="bt-projectdescription">
                <div class="bt-projectholder">
                  <span class="bt-hearticon icon-heart"></span>
                  <div class="bt-tagsandprojectname">
                    <ul class="bt-tags">
                      <li><a href="projectdetail.html">website</a></li>
                      <li><a href="projectdetail.html">graphic</a></li>
                    </ul>
                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="bt-project bt-projectthreecolumns">
            <figure class="bt-projectimg">
              <img src="frontend/business-template/images/projects/img-02.jpg" alt="image description">
              <figcaption class="bt-projectdescription">
                <div class="bt-projectholder">
                  <span class="bt-hearticon icon-heart"></span>
                  <div class="bt-tagsandprojectname">
                    <ul class="bt-tags">
                      <li><a href="projectdetail.html">website</a></li>
                      <li><a href="projectdetail.html">graphic</a></li>
                    </ul>
                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="bt-project bt-projecttwocolumns">
            <figure class="bt-projectimg">
              <img src="frontend/business-template/images/projects/img-03.jpg" alt="image description">
              <figcaption class="bt-projectdescription">
                <div class="bt-projectholder">
                  <span class="bt-hearticon icon-heart"></span>
                  <div class="bt-tagsandprojectname">
                    <ul class="bt-tags">
                      <li><a href="projectdetail.html">website</a></li>
                      <li><a href="projectdetail.html">graphic</a></li>
                    </ul>
                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="bt-project bt-projectfourcolumns">
            <figure class="bt-projectimg">
              <img src="frontend/business-template/images/projects/img-04.jpg" alt="image description">
              <figcaption class="bt-projectdescription">
                <div class="bt-projectholder">
                  <span class="bt-hearticon icon-heart"></span>
                  <div class="bt-tagsandprojectname">
                    <ul class="bt-tags">
                      <li><a href="projectdetail.html">website</a></li>
                      <li><a href="projectdetail.html">graphic</a></li>
                    </ul>
                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="bt-project bt-projectfourcolumns">
            <figure class="bt-projectimg">
              <img src="frontend/business-template/images/projects/img-05.jpg" alt="image description">
              <figcaption class="bt-projectdescription">
                <div class="bt-projectholder">
                  <span class="bt-hearticon icon-heart"></span>
                  <div class="bt-tagsandprojectname">
                    <ul class="bt-tags">
                      <li><a href="projectdetail.html">website</a></li>
                      <li><a href="projectdetail.html">graphic</a></li>
                    </ul>
                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="bt-project bt-projectfourcolumns">
            <figure class="bt-projectimg">
              <img src="frontend/business-template/images/projects/img-06.jpg" alt="image description">
              <figcaption class="bt-projectdescription">
                <div class="bt-projectholder">
                  <span class="bt-hearticon icon-heart"></span>
                  <div class="bt-tagsandprojectname">
                    <ul class="bt-tags">
                      <li><a href="projectdetail.html">website</a></li>
                      <li><a href="projectdetail.html">graphic</a></li>
                    </ul>
                    <h3><a href="projectdetail.html">Creative Project</a></h3>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="bt-statactites bt-projectfourcolumns">
            <figure><img src="frontend/business-template/images/projects/placeholder-02.jpg" alt="image description"></figure>
            <div class="bt-box">
              <div class="bt-counters">
                <div class="bt-counter">
                  <span class="bt-countericon icon-trophy"></span>
                  <span class="bt-count" data-from="0" data-to="39" data-speed="8000" data-refresh-interval="50">39</span>
                  <h4>Winning awards</h4>
                </div>
                <div class="bt-counter">
                  <span class="bt-countericon icon-mobile"></span>
                  <span class="bt-count" data-from="0" data-to="534" data-speed="8000" data-refresh-interval="50">534</span>
                  <h4>Websites and Applications</h4>
                </div>
                <div class="bt-counter">
                  <span class="bt-countericon icon-happy"></span>
                  <span class="bt-count" data-from="0" data-to="200" data-speed="8000" data-refresh-interval="50">200</span>
                  <h4>Happy Clients Worldwide</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--************************************
        Call to Action Start
    *************************************-->
    <div class="bt-sectionpadding bt-haslayout" data-appear-top-offset="600" data-parallax="scroll" data-image-src="frontend/business-template/images/bgparallax/bgparallax-01.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="bt-calltoaction navbar-collapse">
              <div class="bt-fullheading">
                <h2>Ready to <strong>Kickstart</strong> Your Project</h2>
              </div>
              <div class="bt-description">
                <p>We are Creative Design Studio Agency in this Planet</p>
              </div>
              <a class="bt-btn" href="#bt-contactus">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--************************************
        Call to Action End
    *************************************-->
  </section>
  <!--************************************
      Projects End
  *************************************-->
  <!--************************************
      About Powax Start
  *************************************-->
  <section id="bt-aboutpowax" class="bt-sectionpadding bt-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="bt-aboutpowax">
            <div class="bt-fullheading">
              <span>Who We Are</span>
              <h2>About Powax</h2>
            </div>
            <div id="bt-iconsslider" class="bt-iconsslider bt-icons">
              <div class="item bt-iconandheading">
                <span class="icon-lightbulb"></span>
                <h3>Discuss</h3>
              </div>
              <div class="item bt-iconandheading">
                <span class="icon-beaker"></span>
                <h3>Production</h3>
              </div>
              <div class="item bt-iconandheading">
                <span class="icon-tools"></span>
                <h3>Evaluation</h3>
              </div>
              <div class="item bt-iconandheading">
                <span class="icon-trophy"></span>
                <h3>Quality</h3>
              </div>
              <div class="item bt-iconandheading">
                <span class="icon-alarmclock"></span>
                <h3>Launch</h3>
              </div>
            </div>
            <div id="bt-descriptionslider" class="bt-descriptionslider bt-descriptionbox">
              <div class="item bt-iconanddescription">
                <span class="icon-lightbulb"></span>
                <div class="bt-description">
                  <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our modernisation of web development all around world.</p>
                </div>
              </div>
              <div class="item bt-iconanddescription">
                <span class="icon-beaker"></span>
                <div class="bt-description">
                  <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our modernisation of web development all around world.</p>
                </div>
              </div>
              <div class="item bt-iconanddescription">
                <span class="icon-tools"></span>
                <div class="bt-description">
                  <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our modernisation of web development all around world.</p>
                </div>
              </div>
              <div class="item bt-iconanddescription">
                <span class="icon-trophy"></span>
                <div class="bt-description">
                  <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our modernisation of web development all around world.</p>
                </div>
              </div>
              <div class="item bt-iconanddescription">
                <span class="icon-alarmclock"></span>
                <div class="bt-description">
                  <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our modernisation of web development all around world.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Compny Skill Start
  *************************************-->
  <section class="bt-haslayout">
    <div class="container-fluid">
      <div class="row">
        <div class="bt-companyskillsandvideo">
          <div class="bt-companyskills">
            <div class="bt-fullheading">
              <h2>Company Skills</h2>
            </div>
            <div class="bt-description">
              <p>Powar is an award winning creative design agency building apps and experiences for the web We Provde Outstanding Services to Our Customers</p>
            </div>
            <div id="bt-ourskill" class="bt-ourskill bt-skillgroup">
              <div class="bt-skill">
                <h4>Web Design</h4>
                <div class="bt-skillholder" data-percent="88%"><div class="bt-skillbar"></div></div>
              </div>
              <div class="bt-skill">
                <h4>Web Develpment</h4>
                <div class="bt-skillholder" data-percent="95%"><div class="bt-skillbar"></div></div>
              </div>
              <div class="bt-skill">
                <h4>Mobile Application</h4>
                <div class="bt-skillholder" data-percent="76%"><div class="bt-skillbar"></div></div>
              </div>
              <div class="bt-skill">
                <h4>Graphic Design</h4>
                <div class="bt-skillholder" data-percent="82%"><div class="bt-skillbar"></div></div>
              </div>
            </div>
          </div>
          <div class="bt-videobox">
            <figure><img src="frontend/business-template/images/img-03.jpg" alt="image description"></figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Compny Skill End
  *************************************-->
  <!--************************************
      Creative Team Start
  *************************************-->
  <section id="bt-creativeteam" class="bt-sectionpadding bt-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="bt-fullheading bt-styletwo">
            <span>You have to Kknow</span>
            <h2>Creative Team</h2>
          </div>
        </div>
        <div class="bt-creativeteam">
          <div class="col-xs-12 hidden-xs col-sm-4 col-md-4 col-lg-4">
            <figure class="bt-memberlargedp">
              <img src="frontend/business-template/images/team/img-06.jpg" alt="image description">
            </figure>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="bt-teammembersliders">
              <div id="bt-teammembercontentslider" class="bt-teammembercontentslider">
                <div class="item">
                  <div class="bt-teammembercontent">
                    <h3>Jimmy Morgan</h3>
                    <span>Founder / CEO Pawa</span>
                    <div class="bt-description">
                      <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world.</p>
                    </div>
                    <ul class="bt-socialicons bt-socialiconsround">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="bt-teammembercontent">
                    <h3>Jimmy Morgan two</h3>
                    <span>Founder / CEO Pawa</span>
                    <div class="bt-description">
                      <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world.</p>
                    </div>
                    <ul class="bt-socialicons bt-socialiconsround">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="bt-teammembercontent">
                    <h3>Jimmy Morgan three</h3>
                    <span>Founder / CEO Pawa</span>
                    <div class="bt-description">
                      <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world.</p>
                    </div>
                    <ul class="bt-socialicons bt-socialiconsround">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="bt-teammembercontent">
                    <h3>Jimmy Morgan four</h3>
                    <span>Founder / CEO Pawa</span>
                    <div class="bt-description">
                      <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world.</p>
                    </div>
                    <ul class="bt-socialicons bt-socialiconsround">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="bt-teammembercontent">
                    <h3>Jimmy Morgan five</h3>
                    <span>Founder / CEO Pawa</span>
                    <div class="bt-description">
                      <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world.</p>
                    </div>
                    <ul class="bt-socialicons bt-socialiconsround">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="bt-teammembercontent">
                    <h3>Jimmy Morgan six</h3>
                    <span>Founder / CEO Pawa</span>
                    <div class="bt-description">
                      <p>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world.</p>
                    </div>
                    <ul class="bt-socialicons bt-socialiconsround">
                      <li><a href=""><i class="fa fa-facebook"></i></a></li>
                      <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div id="bt-teammembernavigationslider" class="bt-teammembernavigationslider">
                  <div class="item">
                    <figure><img src="frontend/business-template/images/team/img-06.jpg" alt="image description"></figure>
                  </div>
                  <div class="item">
                    <figure><img src="frontend/business-template/images/team/img-07.jpg" alt="image description"></figure>
                  </div>
                  <div class="item">
                    <figure><img src="frontend/business-template/images/team/img-08.jpg" alt="image description"></figure>
                  </div>
                  <div class="item">
                    <figure><img src="frontend/business-template/images/team/img-09.jpg" alt="image description"></figure>
                  </div>
                  <div class="item">
                    <figure><img src="frontend/business-template/images/team/img-10.jpg" alt="image description"></figure>
                  </div>
                  <div class="item">
                    <figure><img src="frontend/business-template/images/team/img-11.jpg" alt="image description"></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Creative Team End
  *************************************-->
  <!--************************************
      Testimonials Start
  *************************************-->
  <section class="bt-sectionpadding bt-haslayout" data-appear-top-offset="600" data-parallax="scroll" data-image-src="frontend/business-template/images/bgparallax/bgparallax-02.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="bt-fullheading bt-styletwo bt-colowhite">
            <span>Clients Feedback</span>
            <h2>Testimonials</h2>
          </div>
        </div>
        <div id="bt-testimonialsslider" class="bt-testimonialsslider bt-clienttestimonials">
          <div class="item">
            <blockquote class="bt-colowhite"><q>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world We create web productions for our modernisation</q></blockquote>
            <div class="bt-authorinfo">
              <span class="bt-authordp">
                <a href="#"><img src="frontend/business-template/images/authors/img-01.jpg" alt="image description"></a>
              </span>
              <span class="bt-authorname"><a href="#">Jimmy Morgan</a></span>
              <span class="bt-authordesignation bt-colowhite">Founder / CEO Powax</span>
            </div>
          </div>
          <div class="item">
            <blockquote class="bt-colowhite"><q>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world We create web productions for our modernisation</q></blockquote>
            <div class="bt-authorinfo">
              <span class="bt-authordp">
                <a href="#"><img src="frontend/business-template/images/authors/img-01.jpg" alt="image description"></a>
              </span>
              <span class="bt-authorname"><a href="#">Jimmy Morgan</a></span>
              <span class="bt-authordesignation bt-colowhite">Founder / CEO Powax</span>
            </div>
          </div>
          <div class="item">
            <blockquote class="bt-colowhite"><q>We create web productions for our clients and we promote the modernisation of web development all around world. We create web productions for our clients and we promote the modernisation of web development all around world We create web productions for our modernisation</q></blockquote>
            <div class="bt-authorinfo">
              <span class="bt-authordp">
                <a href="#"><img src="frontend/business-template/images/authors/img-01.jpg" alt="image description"></a>
              </span>
              <span class="bt-authorname"><a href="#">Jimmy Morgan</a></span>
              <span class="bt-authordesignation bt-colowhite">Founder / CEO Powax</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Testimonials End
  *************************************-->
  <!--************************************
      Pricing Table Start
  *************************************-->
  <section class="bt-sectionpadding bt-paddbottomzero bt-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="bt-fullheading bt-styletwo">
            <span>Passionate About Perfection</span>
            <h2>Pricing Tables</h2>
          </div>
        </div>
        <div class="bt-pricingtables">
          <div class="col-sm-4">
            <div class="bt-pricetable">
              <div class="bt-pkgname">
                <h3>Starter</h3>
              </div>
              <div class="bt-pkgprice">
                <h4><sup>$</sup>29</h4>
              </div>
              <span class="bt-visits">75,000 Visits</span>
              <ul>
                <li>Email Support</li>
                <li>x</li>
                <li>5GB Bandwidth</li>
                <li>x</li>
                <li>Free Upgrades</li>
              </ul>
              <div class="bt-btnbox">
                <a class="bt-btn bt-btnwhite" href="#">sign up now</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="bt-pricetable">
              <span class="bt-popular">Popular</span>
              <div class="bt-pkgname">
                <h3>Growth</h3>
              </div>
              <div class="bt-pkgprice">
                <h4><sup>$</sup>49</h4>
              </div>
              <span class="bt-visits">175,000 Visits</span>
              <ul>
                <li>Email Support</li>
                <li>24/7 Free Support</li>
                <li>5GB Bandwidth</li>
                <li>x</li>
                <li>Free Upgrades</li>
              </ul>
              <div class="bt-btnbox">
                <a class="bt-btn bt-btnwhite" href="#">sign up now</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="bt-pricetable">
              <div class="bt-pkgname">
                <h3>Premier</h3>
              </div>
              <div class="bt-pkgprice">
                <h4><sup>$</sup>89</h4>
              </div>
              <span class="bt-visits">350,000 Visits</span>
              <ul>
                <li>Email Support</li>
                <li>24/7 Free Support</li>
                <li>5GB Bandwidth</li>
                <li>100GB Storage</li>
                <li>Free Upgrades</li>
              </ul>
              <div class="bt-btnbox">
                <a class="bt-btn bt-btnwhite" href="#">sign up now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Pricing Table End
  *************************************-->
  <!--************************************
      Our Publication Start
  *************************************-->
  <section id="bt-news" class="bt-sectionpadding bt-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="bt-fullheading bt-styletwo">
            <span>Stay Always Updated</span>
            <h2>Our Publication</h2>
          </div>
        </div>
        <div id="bt-postsslider" class="bt-posts bt-postsslider">
          <div class="item">
            <article class="bt-post">
              <figure>
                <a href="newsdetail.html"><img src="frontend/business-template/images/blog/img-01.jpg" alt="image description"></a>
                <figcaption><time datetime="2016-10-10">18 Nov 2017</time></figcaption>
              </figure>
              <div class="bt-postcontent">
                <ul class="bt-postmetadata">
                  <li><a href="#">by Smith</a></li>
                  <li><a href="#">5 Comments</a></li>
                </ul>
                <div class="bt-posttitle">
                  <h3><a href="newsdetail.html">Familiar Idea With Brand</a></h3>
                </div>
                <div class="bt-description">
                  <p>We create web productions for our clients and we promote the modernisation of web development all around onepage world. We create web productions for our clients. modernisation of web development all around onepage world.</p>
                </div>
                <a class="bt-btn" href="newsdetail.html">read more</a>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="bt-post">
              <figure>
                <a href="newsdetail.html"><img src="frontend/business-template/images/blog/img-02.jpg" alt="image description"></a>
                <figcaption><time datetime="2016-10-10">18 Nov 2017</time></figcaption>
              </figure>
              <div class="bt-postcontent">
                <ul class="bt-postmetadata">
                  <li><a href="#">by Smith</a></li>
                  <li><a href="#">5 Comments</a></li>
                </ul>
                <div class="bt-posttitle">
                  <h3><a href="newsdetail.html">Familiar Idea With Brand</a></h3>
                </div>
                <div class="bt-description">
                  <p>We create web productions for our clients and we promote the modernisation of web development all around onepage world. We create web productions for our clients. modernisation of web development all around onepage world.</p>
                </div>
                <a class="bt-btn" href="newsdetail.html">read more</a>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="bt-post">
              <figure>
                <a href="newsdetail.html"><img src="frontend/business-template/images/blog/img-01.jpg" alt="image description"></a>
                <figcaption><time datetime="2016-10-10">18 Nov 2017</time></figcaption>
              </figure>
              <div class="bt-postcontent">
                <ul class="bt-postmetadata">
                  <li><a href="#">by Smith</a></li>
                  <li><a href="#">5 Comments</a></li>
                </ul>
                <div class="bt-posttitle">
                  <h3><a href="newsdetail.html">Familiar Idea With Brand</a></h3>
                </div>
                <div class="bt-description">
                  <p>We create web productions for our clients and we promote the modernisation of web development all around onepage world. We create web productions for our clients. modernisation of web development all around onepage world.</p>
                </div>
                <a class="bt-btn" href="newsdetail.html">read more</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--************************************
      Our Publication End
  *************************************-->
</main>