<div class="row">
    <div class="col-sm-3">
        <div class="feature-box service-box"> <i class="feature-icon fa fa-laptop"></i>
            <div class="feature-content">
                <h4 class="service-name">Dịch Vụ Sửa Chữa Máy Vi Tính</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="feature-box service-box"> <i class="feature-icon fa fa-print"></i>
            <div class="feature-content">
                <h4 class="service-name">Dịch Vụ Sửa Chữa Máy In</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="feature-box service-box"> <i class="feature-icon fa fa-certificate"></i>
            <div class="feature-content">
                <h4 class="service-name">Dịch Vụ Nạp Mực</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="feature-box service-box"> <i class="feature-icon fa fa-code-fork"></i>
            <div class="feature-content">
                <h4 class="service-name">Dịch Vụ Thi Công Mạng</h4>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col-sm-3">
        <div class="feature-box service-box"> <i class="feature-icon fa fa-medkit"></i>
            <div class="feature-content">
                <h4 class="service-name">Dịch Vụ Cứu Dữ Liệu</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="feature-box service-box"> <i class="feature-icon fa fa-cogs"></i>
            <div class="feature-content">
                <h4 class="service-name">Dịch Vụ Bảo Trì</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="feature-box service-box"> <i class="feature-icon fa fa-calendar-check-o"></i>
            <div class="feature-content">
                <h4 class="service-name">Dịch Vụ Nâng Cấp Bảo Hành<br> Bảo Hành Tận Nơi</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="feature-box warning-box"> <i class="feature-icon fa fa-warning"></i>
            <div class="feature-content">
                <h4 class="service-name">Ghi chú - Lưu ý</h4>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>