<div class="sticky-services">
    <div class="row">
        <div class="col-sm-3">
            <div class="feature-box service-box"> <i class="feature-icon fa fa-laptop"></i>
                <div class="feature-content">
                    <h4 class="service-name">
                        <a href="#block1">Dịch Vụ Sửa Chữa Máy Vi Tính</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature-box service-box"> <i class="feature-icon fa fa-print"></i>
                <div class="feature-content">
                    <h4 class="service-name">
                        <a href="#block2">Dịch Vụ Sửa Chữa Máy In</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature-box service-box"> <i class="feature-icon fa fa-certificate"></i>
                <div class="feature-content">
                    <h4 class="service-name"><a href="#block3">Dịch Vụ Nạp Mực</a></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature-box service-box"> <i class="feature-icon fa fa-code-fork"></i>
                <div class="feature-content">
                    <h4 class="service-name"><a href="#block4">Dịch Vụ Thi Công Mạng</a></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-sm-3">
            <div class="feature-box service-box"> <i class="feature-icon fa fa-medkit"></i>
                <div class="feature-content">
                    <h4 class="service-name"><a href="#block5">Dịch Vụ Cứu Dữ Liệu</a></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature-box service-box"> <i class="feature-icon fa fa-cogs"></i>
                <div class="feature-content">
                    <h4 class="service-name"><a href="#block6">Dịch Vụ Bảo Trì</a></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature-box service-box"> <i class="feature-icon fa fa-calendar-check-o"></i>
                <div class="feature-content">
                    <h4 class="service-name"><a href="#block7">Dịch Vụ Nâng Cấp Bảo Hành<br> Bảo Hành Tận Nơi</a></h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature-box warning-box"> <i class="feature-icon fa fa-warning"></i>
                <div class="feature-content">
                    <h4 class="service-name"><a href="#block8">Ghi chú - Lưu ý</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
