<h3>Dịch Vụ Sửa Chữa Máy Vi Tính</h3>
<div class="table-responsive price-computer-repairs">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th rowspan="2" class="text-middle-table"><span class="fa fa-laptop"></span></th>
                <th rowspan="2" class="text-middle-table">Tên Dịch Vụ</th>
                <th colspan="2">Tại TimHangCongNghe.Vn</th>
            </tr>
            <tr>
                <th style="width: 15%;">PC</th>
                <th style="width: 15%;">Laptop</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cài đặt 01 Hệ điều hành/máy</td>
                <td class="td-price">180,000 đ</td>
                <td class="td-price">210,000 đ</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Cài đặt 02 Hệ điều hành/máy</td>
                <td class="td-price">270,000 đ</td>
                <td class="td-price">350,000 đ</td>
            </tr>
            <tr>

                <th scope="row">3</th>
                <td>Cài đặt Hệ điều hành MacOS trên máy tính Apple</td>
                <td colspan="2" class="td-price">500,000 đ</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Cài đặt driver / Diệt virus / Hướng dẫn sử dụng thiết bị ngoại vi.</td>
                <td class="td-price">150,000 đ</td>
                <td class="td-price">180,000 đ</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Nâng cấp: Lắp linh kiện / Cài driver</td>
                <td class="td-price">150,000 đ</td>
                <td class="td-price">180,000 đ</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Chẩn đoán & Vệ sinh máy tính</td>
                <td class="td-price">150,000 đ</td>
                <td class="td-price">150,000 đ</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Phục hồi dữ liệu trên Ổ cứng bị format, chia lại Partition</td>
                <td class="td-price">400,000 đ</td>
                <td class="td-price">450,000 đ</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Bộ nguồn (Thay mới)</td>
                <td colspan="2" class="td-price">350,000đ</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>DVD ROM (Thay mới )</td>
                <td colspan="2" class="td-price">300,000 đ</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Adaptor laptop</td>
                <td colspan="2" class="td-price">390,000 đ - 590,000 đ</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Bộ lưu điện UPS thay bình ACCU 500v/100v</td>
                <td colspan="2" class="td-price">380,000 đ - 760,000 đ</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Màn hình (Monitor) CRT/LCD</td>
                <td colspan="2" class="td-price">300,000 đ - 500,000 đ</td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>Bo mạch chủ (Mainboard), thay chipset PC</td>
                <td colspan="2" class="td-price">350,000 đ - 550,000 đ</td>
            </tr>
        </tbody>
    </table>
</div>