<h3>Dịch Vụ Bảo Trì (Khu vực: TP. Hồ Chí Minh)</h3>
<div class="table-responsive price-computer-maintenance">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 6%;"><span class="fa fa-cogs"></span></th>
                <th>Tên Dịch Vụ</th>
                <th style="width: 30%;">Giá Dịch Vụ (1 máy/tháng)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Máy vi tính - PC</td>
                <td class="td-price">70,000 đ</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Máy tính xách tay - Laptop</td>
                <td class="td-price">90,000 đ</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Máy chủ - Server</td>
                <td class="td-price">600,000 đ</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Máy in</td>
                <td class="td-price">60,000 đ</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Máy fax, Máy scan</td>
                <td class="td-price">60,000 đ</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Máy photo (Chỉ áp dụng từ 5 máy trở lên)</td>
                <td class="td-price">150,000 đ</td>
            </tr>
        </tbody>
    </table>
</div>