<h3>Dịch Vụ Cứu Dữ Liệu Thiết Bị Lưu Trữ</h3>
<div class="table-responsive price-emergency-data">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 6%;"><span class="fa fa-medkit"></span></th>
                <th>Tên Dịch Vụ</th>
                <th style="width: 30%;">Giá Dịch Vụ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1000MB - 3000MB</td>
                <td class="td-price">400,000 đ - 900,000 đ</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>3000MB-9000MB</td>
                <td class="td-price">1,200,000 đ</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>10GB-30GB</td>
                <td class="td-price">1,800,000 đ</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>31GB-90GB</td>
                <td class="td-price">2,500,000 đ</td>
            </tr>
        </tbody>
    </table>
</div>