<div class="row">
    <div class="col-sm-6">
        <%= image_tag "/frontend/image/services-banner.png", alt: "Dịch Vụ Sửa Chữa - Bảo Trì", title: "Dịch Vụ Sửa Chữa - Bảo Trì" %>
    </div>
    <div class="col-sm-6 text-justify services-content">
        <p>Ngoài cung cấp các máy vi tính, màn hình máy tính, thiết bị kỹ thuật số viễn thông, sản phẩm văn phòng, thiết bị mạng chính hãng từ các hãng như: HP, Dell, Lenovo, Asus, Acer và các hãng khác.Tìm Hàng Công Nghệ còn đưa ra các dịch vụ sửa chữa bảo trì máy vi tính, dịch vụ sữa chửa máy in, dịch vụ nạp mực, dịch vụ thi công mạng, dịch vụ cứu dữ liệu,...</p>
        <p>Dưới đây là bảng giá dịch vụ để quý khách tham khảo, giá cả thực tế có thể thay đổi tùy vào khảo sát thực tế.</p>
    </div>
</div>
