<h3>Dịch Vụ Thi Công Mạng (Khu vực: TP. Hồ Chí Minh)</h3>
<div class="table-responsive price-network-construction">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 6%;"><span class="fa fa-code-fork"></span></th>
                <th>Tên Dịch Vụ</th>
                <th style="width: 30%;">Giá Dịch Vụ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cài đặt Hệ điều hành Windows Server cho máy chủ và các giao thức, dịch vụ mạng cơ bản (1 máy chủ & 10 máy trạm).</td>
                <td class="td-price">1,650,000 đ</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Cài đặt Mail Server nội bộ (Microsoft Exchange, Mail Daemon) và cấu hình cho máy trạm (1 máy chủ & 10 máy trạm).</td>
                <td class="td-price">1,650,000 đ</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Cài đặt Firewall Server và cấu hình cho máy trạm (1 máy chủ & 10 máy trạm)</td>
                <td class="td-price">1,650,000 đ</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Thiết lập mạng ngang hàng hoặc cài máy trạm vào mạng Server/Client</td>
                <td class="td-price">200,000 đ/lần/máy</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Cài đặt mạng dịch vụ Internet/Games (1 máy chủ & 10 máy trạm)</td>
                <td class="td-price">1,650,000 đ</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Thi công cáp mạng (giá tối thiểu)</td>
                <td class="td-price">250,000 đ/Node</td>
            </tr>
        </tbody>
    </table>
</div>