<h3>Ghi Chú - Lưu Ý</h3>
<div class="table-responsive price-toner-refill">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 6%;"><span class="fa fa-warning"></span></th>
                <th>Nội dung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Giá trên chưa bao gồm <strong>VAT</strong>, chi phí vật tư thi công và các thiết bị khác.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    Trường hợp đến tận nơi để sửa chữa thiết bị (Khi chưa đăng ký dịch vụ bảo trì):<br>
                    - Nội thành phí phụ thu: <strong>30,000₫</strong>/lần kiểm tra.<br>
                    - Ngoại thành phí phụ thu: <strong>60,000₫</strong>/lần kiểm tra.<br>
                    (và khi khách hàng không đồng ý sửa chữa, vui lòng đóng phí này)
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Trường hợp sau khi thỏa thuận phục hồi dữ liệu, nếu khách hàng không đồng ý lấy dữ liệu đã được phục hồi, vui lòng đóng <strong>200,000₫</strong> phí kiểm tra.</td>
            </tr>
        </tbody>
    </table>
</div>