<h3 id="block2">Dịch Vụ Sửa Chữa Máy In</h3>
<div class="table-responsive price-printer-repairs">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th  style="width: 6%;"><span class="fa fa-print"></span></th>
                <th>Tên Dịch Vụ</th>
                <th style="width: 30%;">HP, Canon (A4)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Drum (Trống hình) A3</td>
                <td class="td-price">330,000₫</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Drum (Trống hình) A4</td>
                <td class="td-price">200,000₫</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Thanh gạt nhỏ</td>
                <td class="td-price">150,000₫</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Thanh gạt lớn</td>
                <td class="td-price">180,000₫</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Trục từ</td>
                <td class="td-price">180,000₫</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Trục cao su</td>
                <td class="td-price">180,000₫</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Bao lụa A3</td>
                <td class="td-price">450,000₫</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Bao lụa A4</td>
                <td class="td-price">350,000₫</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Rulo ép</td>
                <td class="td-price">380,000₫</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Quả đào</td>
                <td class="td-price">380,000₫</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Sửa chữa</td>
                <td class="td-price">150,000₫</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Vệ sinh & Kiểm tra tổng quát</td>
                <td class="td-price">150,000₫</td>
            </tr>
        </tbody>
    </table>
</div>
