<h3 id="block7">Dịch Vụ Nâng Cấp Bảo Hành - Bảo Hành Tận Nơi</h3>
<div class="table-responsive price-security-extended">
     <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 6%;"><span class="fa fa-calendar-check-o"></span></th>
                <th>Tên Dịch Vụ</th>
                <th style="width: 30%;">Giá Dịch Vụ (1 máy)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Nâng cấp bảo hành Laptop từ 01 năm lên 03 năm</td>
                <td class="td-price">1,800,000₫ - 2,500,000₫</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Nâng cấp bảo hành PC từ 01 năm lên 02 năm</td>
                <td class="td-price">550,000₫ - 750,000₫</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 6%;"><span class="fa fa-calendar-check-o"></span></th>
                <th style="width: 15%;">Tên Gói Dịch Vụ</th>
                <th style="width: 34%;">Sản Phẩm Áp Dụng</th>
                <th>Nội Dung Bảo Hành</th>
                <th style="width: 18%;">Giá Dịch Vụ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Dịch vụ mở rộng bảo hành Laptop/PC - 01 năm</td>
                <td>
                    - Laptop/PC có thời gian bảo hành chuẩn 01 năm.<br>
                    - Còn thời hạn bảo hành trên 06 tháng (Ngoại trừ sản phẩm hãng Apple).
                </td>
                <td>Tăng thêm 01 năm bảo hành (Không áp dụng cho: Pin, Adapter, Chuột, Bàn Phím, Ổ cứng).</td>
                <td class="td-price">750,000₫ - 1,200,000₫</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Dịch vụ mở rộng bảo hành Laptop/PC - 02 năm</td>
                <td>
                    - Laptop/PC có thời gian bảo hành chuẩn 01 năm.<br>
                    - Còn thời hạn bảo hành trên 06 tháng (Ngoại trừ sản phẩm hãng Apple).
                </td>
                <td>Tăng thêm 02 năm bảo hành (Không áp dụng cho: Pin, Adapter, Chuột, Bàn Phím, Ổ cứng).</td>
                <td class="td-price">1,500,000₫ - 2,500,000₫</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Dịch vụ mở rộng bảo hành HDD - 02 năm</td>
                <td>Ổ cứng HDD Laptop/PC</td>
                <td>
                    - Bảo hành Ổ cứng HDD trong vòng 02 năm.<br>
                    - Khách hàng giữ lại Ổ cứng HDD. Khi Ổ cứng HDD được Bảo hành xác nhận hư, khách hàng được cung cấp Ổ cứng HDD mới.
                </td>
                <td class="td-price">500,000₫</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Dịch vụ mở rộng bảo hành HDD - 03 năm</td>
                <td>Ổ cứng HDD Laptop/PC</td>
                <td>
                    - Bảo hành Ổ cứng HDD trong vòng 03 năm.<br>
                    - Khách hàng giữ lại Ổ cứng HDD. Khi Ổ cứng HDD được Bảo hành xác nhận hư, khách hàng được cung cấp Ổ cứng HDD mới.
                </td>
                <td class="td-price">800,000₫</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Dịch vụ bảo hành tận nơi trong năm đầu tiên</td>
                <td>
                    - Laptop/PC/LCD/UPS offline đang trong thời gian bảo hành.
                </td>
                <td>Đến tận nơi nhận & trả thiết bị cần bảo hành.</td>
                <td class="td-price">200,000₫ / Năm</td>
            </tr>
        </tbody>
    </table>
</div>
