<h3 id="block3">Dịch Vụ Nạp Mực</h3>
<div class="table-responsive price-toner-refill">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 6%;"><span class="fa fa-certificate"></span></th>
                <th>Tên Dịch Vụ</th>
                <th style="width: 30%;">Tại TimHangCongNghe.Vn</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>In phun đen, màu</td>
                <td class="td-price">100,000₫</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>In lazer đen - Khổ A4/A3 - HP, Canon</td>
                <td class="td-price">100,000₫ / 300,000₫</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>In lazer đen - Khổ A4 - Lexmark, Samsung, Xerox 3110</td>
                <td class="td-price">250,000₫</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>In lazer đen - Khổ A4 - Xerox 204, Brother</td>
                <td class="td-price">250,000₫</td>
            </tr>
        </tbody>
    </table>
</div>
