<% title @page_title.html_safe %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">Hướng Dẫn Thanh Toán</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid wpb-row-stretch wpb_row_background-center-top1 vc_custom_1612369362708 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner vc_custom_1610446329656">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:60px;color:#fff;line-height:1;text-align:center" class="vc_custom_heading vc_custom_1612368327480" >
                                Hướng Dẫn Thanh Toán
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Thanh Toán Bằng Tiền Mặt</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Với phương thức thanh toán này, Quý khách hàng thanh toán bằng tiền mặt cho nhân viên Tìm Hàng Công Nghệ sau khi nhận và kiểm tra hàng hóa đã mua.</p>
                                    <p><em><strong>LƯU Ý: </strong>Phương thức thanh toán tiền mặt chỉ áp dụng cho đơn hàng có tổng giá trị nhỏ hơn 20 triệu/ngày. Nếu tổng giá trị trên 20 triệu/ngày, Quý khách hàng vui lòng chuyển khoản qua số tài khoản công ty.</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Thanh Toán Chuyển Khoản</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Với phương thức thanh toán này, Quý khách hàng chuyển khoản vào số tài khoản bên dưới:</p>
                                    <p><strong>TÀI KHOẢN CÔNG TY (ACB)</strong></p>
                                    <p>Chủ tài khoản: CÔNG TY TNHH GIẢI PHÁP CNTT VÀ TRUYỀN THÔNG HOÀNG KHANG</p>
                                    <p>Số tài khoản: 1883768</p>
                                    <p>Mở tại: Ngân Hàng Thương Mại Cổ Phần Á Châu (ACB) - CN. TP. Hồ Chí Minh, PGD. Thạch Đà</p>
                                    <p><strong>TÀI KHOẢN CÁ NHÂN (ACB)</strong></p>
                                    <p>Chủ tài khoản: ĐỖ THỊ ĐA NGUYÊN</p>
                                    <p>Số tài khoản: 221142939</p>
                                    <p>Mở tại: Ngân Hàng Thương Mại Cổ Phần Á Châu (ACB) - CN. TP. Hồ Chí Minh, PGD. Thạch Đà</p>
                                    <p><em><strong>LƯU Ý: </strong>Phương thức thanh toán qua tài khoản cá nhân chỉ áp dụng cho đơn hàng có tổng giá trị nhỏ hơn 20 triệu/ngày. Nếu tổng giá trị trên 20 triệu/ngày, Quý khách hàng vui lòng chuyển khoản qua số tài khoản công ty.</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid wpisset-ele-es-animate-fadein">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h3 style="font-size:18px;color:#0473db;text-align:left" class="vc_custom_heading" >Thanh Toán Trực Tuyến</h3>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-1">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element p-has-drop-cap wpb-p-margin-top-0" >
                                <div class="wpb_wrapper">
                                    <p>Tính năng đang được phát triển...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= render partial: 'frontend/modules/slogan_guide' %>
        </div>
    </main>
</div>