<div class="so-spotlight1 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 box_slider">
                <div class="slider-container ">
                    <div id="so-slideshow" class="">
                        <%= render "erp/online_store/frontend/modules/home/slideshow" %>
                    </div>
                </div>                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 box_banner">
                <div class="module banner-right hidden-md hidden-sm hidden-xs banner-business-choices">
                    <ul>
                        <li><%= link_to image_tag("/frontend/image/img-banner-right-1.png",
                                                  alt: "Giao hàng, bảo trì - Tận nơi, nhanh chóng", title: "Giao hàng, bảo trì - Tận nơi, nhanh chóng"), "javascript:void(0)",
                                                  title: "Giao hàng, bảo trì - Tận nơi, nhanh chóng", class: "img-marketing" %></li>
                        <li><%= link_to image_tag("/frontend/image/img-banner-right-2.png",
                                                  alt: "Ưu đãi cho doanh nghiệp - Tiết kiệm 10% ~ 40%", title: "Ưu đãi cho doanh nghiệp - Tiết kiệm 10% ~ 40%"), "javascript:void(0)",
                                                  title: "Ưu đãi cho doanh nghiệp - Tiết kiệm 10% ~ 40%", class: "img-marketing" %></li>
                        <li><%= link_to image_tag("/frontend/image/img-banner-right-3.png",
                                                  alt: "Tiết kiệm - Tận tâm - Tức thời", title: "Tiết kiệm - Tận tâm - Tức thời"), "javascript:void(0)",
                                                  title: "Tiết kiệm - Tận tâm - Tức thời", class: "img-marketing" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>