<div class="so-spotlight1 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 box_slider">
                <div class="slider-container ">
                    <div id="so-slideshow" class="">
                        <%= render "erp/online_store/frontend/modules/home/slideshow" %>
                    </div>
                </div>                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 box_banner">
                <div class="module banner-right hidden-md hidden-sm hidden-xs banner-business-choices">
                    <ul>
                        <li>
                            <a title="Static Image" href="#"><img src="/frontend/image/cms/img-banner-right-1.png" alt="Static Image"></a>
                        </li>
                        <li>
                            <a title="Static Image" href="#"><img src="/frontend/image/cms/img-banner-right-2.png" alt="Static Image"></a>
                        </li>
                        <li>
                            <a title="Static Image" href="#"><img src="/frontend/image/cms/img-banner-right-3.png" alt="Static Image"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>