<% title 'Tra Cứu Đơn Hàng' %>
<div class="wpisset-row wpisset-main-grid">
    <main id="main" class="wpisset-main wpisset-col-xs-12">
        <div class="wpisset_yoast_breadcrumb">
            <p id="breadcrumbs">
                <%= link_to 'Trang Chủ', root_link, title: 'Tìm Hàng Công Nghệ - TimHangCongNghe.Com' %> » 
                <span class="breadcrumb_last" aria-current="page">Tra Cứu Đơn Hàng</span>
            </p>
        </div>
        <div class="entry-content">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1609764375679">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h1 style="font-size:30px;text-align:left" class="vc_custom_heading">Tra Cứu Đơn Hàng</h1>
                            <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                    <div class="thcn">
                                        <form action="" method="" class="thcn-form thcn-form-track-order track_order">
                                            <p>Nhập số điện thoại để tra cứu lịch sử đặt mua hàng tại Tìm Hàng Công Nghệ.</p><br>
                                            <p class="form-row form-row-first">
                                                <label for="order_email">Số điện thoại</label>
                                                <input class="input-text" type="text" name="order_phone" id="" value="" placeholder="Nhập số điện thoại mua hàng..."/>
                                            </p>
                                            <div class="clear"></div>
                                            <p class="form-row"><button type="submit" class="button" name="" value="">Kiểm Tra</button></p>
                                            <input type="hidden" id="" name="" value=""/>
                                            <input type="hidden" id="" name="" value=""/> 
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="entry-content-clear"></div>
        </div>
    </main>
</div>