<%= form_tag("", method: "get", class: "category-filter-top") do %>
    <div class="filters-line">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <div class="filters-box" style="margin-top: -2px;">
                    <label>Theo hãng:</label>
                    <select class="form-control" name="brand_ids[]" multiple="multiple" placeholder="Tất cả">
                        <% brands.each do |brand| %>
                            <li>
                                <option value="<%= brand.id %>"><%= brand.name %></option>
                            </li>
                        <% end %>
                    </select>
                    <span class="select2-selection__arrow-mul"></span>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="filters-box pull-right">
                    <label>Sắp xếp:</label>
                    <select class="form-control" name="sort_by">
                        <option value="" selected="selected">Mặc định</option>
                        <option value="name_asc">Tên (A - Z)</option>
                        <option value="name_desc">Tên (Z - A)</option>
                        <option value="price_asc">Giá (Thấp - Cao)</option>
                        <option value="price_desc">Giá (Cao - Thấp)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
<% end %>
