<%= form_tag((defined?(action) ? action : ''), method: "get", class: "category-filter-top "+(defined?(auto_load) ? 'auto-load' : '')) do %>
    <div class="filters-line">
        <div class="row">
            <div class="col-sm-7 col-md-9 col-xs-5">
            </div>
            <div class="col-sm-5 col-md-3 col-xs-7">
                <div class="filters-box pull-right">
                    <label>Sắp xếp:</label>
                    <select class="form-control" name="sort_by">
                        <option value="" selected="selected">Mặc định</option>
                        <option value="name_asc">Tên (A - Z)</option>
                        <option value="name_desc">Tên (Z - A)</option>
                        <option value="price_asc">Giá (Thấp - Cao)</option>
                        <option value="price_desc">Giá (Cao - Thấp)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
<% end %>
