<div class="page-footer">
    <div class="page-footer-inner">
      2019 &copy; Hệ Thống Quản Lý Website <%= link_to "Tìm Hàng Công Nghệ", erp_online_store.root_path, target: "_blank" %>. All rights reserved.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>