<div class="wpisset-sp-add-to-cart-wrap">
    <form class="cart" action="" method="post" enctype=''>
        <div class="wpisset-sp-add-to-cart-inner-wrap">
            <div class="wpisset-sp-add-to-cart-btn-wrap">
                <div class="quantity">
                    <label class="screen-reader-text" for=""><%= @product.get_name %></label>
                    <input type="number" id="" class="input-text qty text" step="1" min="1" max="" name="" value="1" title="" size="4" placeholder="" inputmode="numeric"/>
                </div>
                <button type="submit" name="" value="" class="single_add_to_cart_button button alt">THÊM VÀO GIỎ HÀNG</button>
            </div>
            <div class="wpisset-sp-add-to-cart-extra-btns">
                <div class="wpisset-add-to-wishlist wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="DANH SÁCH YÊU THÍCH" data-cursor-color="#d9214e" data-cursor-text-color="#fff">
                    <svg class="wpisset-woo-loop-nav-icon-border" xmlns="//www.w3.org/2000/svg"><g><ellipse ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#ebebeb" fill="transparent"/><ellipse class="circle" ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#111" fill="transparent"/></g></svg>
                    <div class="yith-wcwl-add-to-wishlist  wishlist-fragment on-first-load" data-fragment-ref="71" data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:true,&quot;show_exists&quot;:false,&quot;product_id&quot;:71,&quot;parent_product_id&quot;:71,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:true,&quot;browse_wishlist_text&quot;:&quot;Browse wishlist&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">
                        <div class="yith-wcwl-add-button">
                            <a href="" rel="nofollow" data-product-id="71" data-product-type="simple" data-original-product-id="71" class="add_to_wishlist single_add_to_wishlist" data-title="Add to wishlist">
                                <i class="yith-wcwl-icon fa fa-heart-o"></i>
                                <span>THÊM VÀO DANH SÁCH YÊU THÍCH</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="wpisset-add-to-compare wpisset-cursor-anim-element wpisset-cursor-anim-element-2" data-cursor-text="SO SÁNH SẢN PHẨM" data-cursor-color="#d9214e" data-cursor-text-color="#fff">
                    <svg class="wpisset-woo-loop-nav-icon-border" xmlns="//www.w3.org/2000/svg"><g><ellipse ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#ebebeb" fill="transparent"/><ellipse class="circle" ry="19.5" rx="19.5" cy="20" cx="20" stroke-width="1" stroke="#111" fill="transparent"/></g></svg>
                    <div class="thcn product compare-button">
                        <a href="" class="compare button" data-product_id="71" rel="nofollow">SO SÁNH SẢN PHẨM</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>