<p>Xin chào <%= @resource.email %>!</p>

<p>Tài khoản của bạn đã bị khóa do có quá nhiều lần đăng nhập không thành công.</p>
<p>Tại sao chúng tôi gửi email này? Chúng tôi rất coi trọng vấn đề bảo mật và chúng tôi
luôn muốn cung cấp cho bạn đầy đủ thông tin và để bạn tham gia vào quy trình đưa ra quyết
định về các hành động quan trọng trong tài khoản của bạn.</p>
<p>Gần đây, ai đó đã có nỗ lực cố gắng đăng nhập vào tài khoản của bạn nhiều lần không thành công.</p>
<p>Chúng tôi muốn biết chắc chắn đó có phải bạn hay không.</p>
<p>Để mở khóa cho tài khoản của bạn, vui lòng chọn vào liên kết bên dưới:</p>

<p><%= link_to 'Mở khóa tài khoản', unlock_url(@resource, unlock_token: @token) %></p>
<p>Trân trọng,<br/>
Nhóm Bảo mật Hoàng Khang
</p>
<p style="color: #999;font-size: 12px;">
    <i>
        *Email này không nhận được thư trả lời.
        Để gửi phản hồi cho chúng tôi về thông báo này, vui lòng truy cập http://timhangcongnghe.vn/
    </i>
</p>