<div class="module block-shopby titleLine">
    <h3 class="modtitle"><span>Tìm Hàng Công Nghệ </span></h3>
    <div class="modcontent ">
        <form class="type_2">
            <div class="table_layout filter-shopby">
                <div class="table_row">
                    <!-- - - - - - - - - - - - - - Category filter - - - - - - - - - - - - - - - - -->
                    <div class="table_cell" style="z-index: 103;">
                        <legend>Tìm kiếm sản phẩm</legend>
                        <div class="input-group">
                            <input class="form-control" type="text" value="" size="50" autocomplete="off" placeholder="Nhập từ khóa tìm kiếm" name="search">
                            <div class="input-group-btn">
                                <button class="btn btn-default inverse" type="button" id="submit_text_search"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--/ .table_cell -->
                    <!-- - - - - - - - - - - - - - End of category filter - - - - - - - - - - - - - - - - -->
                    <!-- - - - - - - - - - - - - - SUB CATEGORY - - - - - - - - - - - - - - - - -->
                    <div class="table_cell">
                        <fieldset>
                            <legend>Chuyên mục sản phẩm</legend>
                            <ul class="checkboxes_list">
                                <li>
                                    <input type="checkbox" checked="" name="category" id="category_1">
                                    <label for="category_1">Smartphone & Tablets</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="category" id="category_2">
                                    <label for="category_2">Electronics</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="category" id="category_3">
                                    <label for="category_3">Shoes</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="category" id="category_4">
                                    <label for="category_4">Watches</label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                    <!--/ .table_cell -->
                    <!-- - - - - - - - - - - - - - End SUB CATEGORY - - - - - - - - - - - - - - - - -->
                    <!-- - - - - - - - - - - - - - Manufacturer - - - - - - - - - - - - - - - - -->
                    <div class="table_cell">
                        <fieldset>
                            <legend>Thương hiệu sản phẩm</legend>
                            <ul class="checkboxes_list">
                                <li>
                                    <input type="checkbox" checked="" name="manufacturer" id="manufacturer_1">
                                    <label for="manufacturer_1">Manufacturer 1</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="manufacturer" id="manufacturer_2">
                                    <label for="manufacturer_2">Manufacturer 2</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="manufacturer" id="manufacturer_3">
                                    <label for="manufacturer_3">Manufacturer 3</label>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                    <!--/ .table_cell -->
                    <!-- - - - - - - - - - - - - - End manufacturer - - - - - - - - - - - - - - - - -->
                    <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->
                    <div class="table_cell">
                        <fieldset>
                            <legend>Mức giá sản phẩm</legend>
                            <div class="range">
                                Mức giá :
                                <span class="min_val">$188.73</span> -
                                <span class="max_val">$335.15</span>
                                <input type="hidden" name="" class="min_value" value="188.73">
                                <input type="hidden" name="" class="max_value" value="335.15">
                            </div>
                            <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all"></span>
                                <span class="ui-slider-handle ui-state-default ui-corner-all"></span>
                            </div>
                        </fieldset>
                    </div>
                    <!--/ .table_cell -->
                    <!-- - - - - - - - - - - - - - End price - - - - - - - - - - - - - - - - -->
                </div>
                <!--/ .table_row -->
            </div>
            <!--/ .table_layout -->
        </form>
    </div>
</div>
<div class="module latest-product titleLine">
    <h3 class="modtitle"><span>Sản phẩm mới nhất</span></h3>
    <div class="modcontent">
        <% (0..2).each do |lasest_product| %>
        <div class="product-latest-item">
            <div class="media">
                <div class="media-left">
                    <%= link_to image_tag("/frontend/image/shop/product/m1.jpg", alt: "Cisi Chicken", title: "Cisi Chicken", class: "img-responsive", size: "90x90"), erp_online_store.product_detail_path %>
                </div>
                <div class="media-body">
                    <div class="caption">
                        <h4><%= link_to "Sunt Molup", erp_online_store.product_detail_path %></h4>
                        <div class="price">
                            <span class="price-new">$100.00</span>
                        </div>
                        <div class="ratings">
                            <div class="rating-box">
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
<div class="module">
    <div class="modcontent clearfix">
        <div class="banners">
            <div>
                <%= link_to image_tag("/frontend/image/cms/left-image-static.png", alt: "left-image"), "" %>
            </div>
        </div>
    </div>
</div>