<div class="product-filter product-filter-bottom filters-panel">
    <div class="box-pagination text-center">
        <%= will_paginate products, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
    </div>
</div>