<% if Erp::Products::Brand.get_brands_order_name.count > 0 %>        
<!-- Brand List  -->
<div class="so-spotlight5">
    <div class="container">
        <div class="block-brand list-brands">
            <div class="brand-slider">
                <% Erp::Products::Brand.get_brands_order_name.each do |brand| %>
                    <% if brand.image_url.present? %>
                    <div class="item-manu">                        
                        <%= link_to image_tag(brand.image_url.small, alt: brand.name), "", title: brand.name %>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>