<% if Erp::Banners::Banner.get_category_banners.count > 0 %>
<div class="module phone-hot-banner">
    <div class="modcontent clearfix">
        <div class="banners category-banner">
            <div>
                <% Erp::Banners::Banner.get_category_banners.each do |banner| %>
                    <%= link_to image_tag(banner.image_url.thumb, alt: "left-image"), banner.link_url, title: banner.name %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>