<div class="module">
    <div class="modcontent clearfix">
        <div class="banners category-banner">
            <div>
                <% @hot_banners.each do |banner| %>
                    <%= link_to image_tag(banner.image_url.thumb, alt: "left-image"), banner.link_url, title: banner.name %>
                <% end %>
            </div>
        </div>
    </div>
</div>
