<div class="module">
    <div class="modcontent clearfix">
        <div class="banners category-banner">
            <div>
                <%= link_to image_tag("/frontend/image/cms/left-image-static.png", alt: "left-image"), "", title: "" %>
            </div>
        </div>
    </div>
</div>