<div class="module block-shopby titleLine">
    <h3 class="modtitle">
        <span>
            <i class="fa fa-futbol-o "></i> Tìm Hàng Công Nghệ
        </span>
    </h3>
    <div class="modcontent ">
        <%= form_tag("", method: "get", class: "category-filter-box") do %>
            <div class="table_layout filter-shopby">
                <div class="table_row">
                    <div class="table_cell" style="z-index: 103;">
                        <legend>Tìm theo chuyên mục</legend>
                        <div>
                            <select class="select-ajax" name="menu_id"
                                data-url="<%= erp_online_store.category_select2_path %>"
                                data-placeholder="Tất cả chuyên mục">
                            </select>
                        </div>
                    </div>
                    <div class="table_cell" style="z-index: 103;">
                        <legend>Sắp xếp sản phẩm</legend>
                        <div>
                            <select class="form-control" name="sort_by">
                                <option value="" selected="selected">Mặc Định</option>
                                <option value="name_asc">Tên sản phẩm (A - Z)</option>
                                <option value="name_desc">Tên sản phẩm (Z - A)</option>
                                <option value="price_asc">Giá (Thấp - Cao)</option>
                                <option value="price_desc">Giá (Cao - Thấp)</option>
                            </select>
                        </div>
                    </div>
                    <div class="table_cell">
                        <fieldset>
                            <% if Erp::Products::Brand.all.count > 1 %>
                                <legend>Thương hiệu sản phẩm</legend>
                                <div>
                                    <select class="select-ajax" name="brand_id"
                                        data-url="<%= erp_online_store.brand_select2_path %>"
                                        data-placeholder="Tất cả thương hiệu">
                                    </select>
                                </div>
                                <br />
                            <% end %>
                        </fieldset>
                    </div>
                </div>
                <!--/ .table_row -->
            </div>
            <!--/ .table_layout -->
        <% end %>
    </div>
</div>
