<div class="module block-shopby titleLine">
    <h3 class="modtitle">
        <span>
            <i class="fa fa-futbol-o "></i> Tìm Hàng Công Nghệ
        </span>
    </h3>
    <div class="modcontent ">
        <%= form_tag("", method: "get", class: "category-filter-box") do %>
            <div class="table_layout filter-shopby">
                <div class="table_row">
                    <div class="table_cell last" style="z-index: 103;">
                        <legend>Tìm theo chuyên mục</legend>
                        <div>
                            <select class="select-ajax" name="menu_id"
                                data-url="<%= erp_online_store.category_select2_path %>"
                                data-placeholder="Tất cả chuyên mục">
                            </select>
                        </div>
                    </div>
                </div>
                <!--/ .table_row -->
            </div>
            <!--/ .table_layout -->
        <% end %>
    </div>
</div>
