<section class="social-widgets visible-lg">
    <ul class="items">
        <li class="item item-01 facebook">
            <%= link_to '<span class="fa fa-facebook"></span>'.html_safe, "https://www.facebook.com/TimHangCongNghe/", class: "tab-icon", target: "_blank" %>
            <div class="tab-content">
                <div class="title">
                    <h5>FACEBOOK</h5>
                </div>
            </div>
        </li>
        <li class="item item-02 youtube"> <%= link_to '<span class="fa fa-youtube"></span>'.html_safe, "https://www.youtube.com/channel/UC1_KyGKwBDeUpmWsbtrsdcg", class: "tab-icon", target: "_blank" %>
            <div class="tab-content">
                <div class="title">
                    <h5>YouTube</h5>
                </div>
            </div>
        </li>
        <li class="item item-03 instagram"> <%= link_to '<i class="fa fa-instagram"></i>'.html_safe, "https://www.instagram.com/timhangcongnghe/", class: "tab-icon", target: "_blank" %>
            <div class="tab-content">
                <div class="title">
                    <h5>Instagram</h5>
                </div>
            </div>
        </li>
        <li class="item item-04 pinterest"> <%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, "https://www.pinterest.com/timhangcongnghe/", class: "tab-icon", target: "_blank" %>
            <div class="tab-content">
                <div class="title">
                    <h5>Pinterest</h5>
                </div>
            </div>
        </li>
    </ul>
</section>
